   
<body style="margin:0; padding:0;">

<a class="twitter-follow-button"
href="https://twitter.com/drinkfitaid"
data-show-count="true"
data-show-screen-name="false">
Follow
</a>
<script type="text/javascript"> window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }); }(document, "script", "twitter-wjs"));
</script>

<!-- show how many times tweeted 

<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.drinkfitaid.com" data-text="DrinkFitAID.com">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

-->