/* Theme Name: FitAID */


	
/* Fonts */
	@import url(//fonts.googleapis.com/css?family=Fjalla+One|Raleway:100,300,400,700,900);

/* Animation Framework */
@import 'css/animate.css';
	

/* Fancybox CSS */
	@import url(//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css);

	
/*Page Styles */
	@import 'css/header.css';
	@import 'css/spinner.css';
	@import 'css/home.css';
	@import 'css/sidebar.css';
	@import 'css/footer.css';

	@import 'css/cart.css';
	@import 'css/buy.css';	
	@import 'css/fitclub.css';	
	@import 'css/affiliates.css';
	
	@import 'css/ingredients.css';
	@import 'css/athletes.css';
	
	@import 'css/refer-your-gym.css';
	@import 'css/special-offers.css';
	@import 'css/facebook-landing.css';
	@import 'css/twofreecans-landing.css';
   	@import 'css/media-assets.css';
	@import 'css/subpage.css';
	@import 'css/event-sponsorship.css';
	@import 'css/slideout-buy-freebies.css';
	@import 'css/low-inventory.css';
	

/* Main Standards */
	body{font-family: 'Raleway', sans-serif;}
	.container{overflow: hidden;}
	.container-fluid{padding: 0; overflow: hidden;}
	.copy_content{padding-top: 1em; min-height: 20em; font-size: 16px;}
	
 
	
	h2{font-size: 18px; text-transform: uppercase; font-weight: bold;}
	h3{font-weight: bold; font-size: 25px;}
	
	h5{font-weight: bold; color: black;}
	h6{font-size: 15px; font-family: 'Fjalla One', sans-serif; text-transform: uppercase;}
	h7{font-weight: bold;}
	
	.anchor{display:block; position: relative; top: -97px; height: 1px; width: 1px;}
	
	.strike{text-decoration: line-through;}
	
	.glyphicon-star{color: #ffe400 !important;}
	img{max-width: 100%;}
	
	.btn{font-family: 'Fjalla One', sans-serif; text-transform: uppercase;  border-radius: 3px; padding: 0.75em 2.5em;  
	 -webkit-transition: width 2s;   transition: width 2s;}
	 
	.btn-primary, .btn-default{background: #e51b24; border: 0; color: white;}
	.btn:hover{background: #535353 !important; color: white !important;}
	
	.btn-xs{padding: 0.5em; font-size: 9px;} 
	.btn-link{background: #e6e6e6 !important; color: white; text-decoration: none !important;}
	
	
		
	.modal-title{text-transform: uppercase; font-weight: bold;}
	
	.carousel img{width: 100%; }
	a{color: #858484; cursor: pointer;}
	a:hover{text-decoration: underline; color: #b0b0b0;}
	.subnav a:hover, .current-menu-item a{color: #dd1f26;}
	
	ul{list-style: none; padding: 0; margin: 0;}
	.spacer{height: 120px;}
	
	.arrow_link{font-weight: bold; background-image: url(images/red_arrow_right.png); background-position: right center; padding: 0 1em 0 0; background-repeat: no-repeat;  background-size: 7px 7px; } 
     
    .well{font-size: 14px;}
 
	.desktop_shiv{ height: 130px; }
	.mobile_shiv{height: 102px;}
	
	 

	.hero {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		
		}
	.hero .wrap{min-height: 100%; position: relative;}
 
	.hero h2, .hero h3 {
		font-weight: 700;
		color: white;		
		margin-bottom: 0;
		margin-top: 0;
		text-align: center;
		text-shadow: 0 0 10px #000000;
		text-transform: uppercase;
	
		font-size: 3.5em;
		/* horizontal/vertical align center Post Title over image */
		padding: 3em 0;
	}

 .hero h3{font-size: 2em; padding: 2em; padding-left: 1em; text-align: left;}
	
	
	.subnav{
		font-size: 15px;
		font-family: 'Fjalla One', sans-serif; 
		background: #eae9e9;
		text-align: center;
	}
	.subnav li{
		padding: 1em 2em 1em 0em;
		display: inline-block;
		float: none;
	}
	.subnav a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
	}	
	
 
 



@media (min-width: 1200px) {
	body{ font-size: 17px; }
}


@media (min-width: 992px) and (max-width: 1199px) {
	body{font-size: 16px;} 
}

@media (min-width: 768px) and (max-width: 991px) {
	body{ font-size: 14px; }
}

@media (max-width: 767px) {
	body{ font-size: 10px; }

}



 