<div class="alert alert-danger" role="alert" ng-show="totals.discount.safeTerms"><div ng-bind-html="totals.discount.safeTerms"></div></div>
 
<p ng-hide="totals.items">Your cart is empty.</p>
<div ng-show="totals.items">
<table id="cart_table" class="table">
		<thead>
			<tr><th>Item</th><th class="hidden-xs"></th><th>Qty</th><th>Edit</th><th>Total</th></tr>
		</thead>
		 	 	<tbody ng-repeat="product in products">
					 
					  <tr ng-repeat="(key, variation) in product.variations">
					 
					  	<td class="col-xs-2"><img width="100%" src="//drinkfitaid.com/media/{{product.images[0]}}"></td>
						  <td class="col-sm-4">
						  
						  	<h5>{{product.name}} {{product.price | currency:"$"}}</h5>
						    
						    <ul class="hidden-xs options">
							    <li  ng-show="variation.subscription.interval.label">Delivery Frequency: {{variation.subscription.interval.label}}</li>	
						  		
						  		<li ng-show="variation.add[0][0]">{{product.option2.label}}: {{variation.add[0][0].label}}, {{variation.add[0][1].label}}, {{variation.add[0][2].label}}</li>
						  		<li ng-show="variation.add[1][0]">{{product.option7.label}}: {{variation.add[1][0].label}}</li>
						  		
						  		<li ng-show="variation.option1">{{product.option1.label}}: {{variation.option1.label}}</li>
						    	<li ng-show="variation.option2">{{product.option2.label}}: {{variation.option2.label}}</li>
				 			
				 			</ul>
							
						  </td>
						  <td class="col-sm-2">  
							 
								<input class="form-control qtyfield" ng-init="onlyEven = {{product.groups.indexOf('case') != -1 && product.groups.indexOf('wholesale') != -1}}" ng-change="updateQty(product,variation.qty)" ng-model="variation.qty" step="{{onlyEven ? 2 : 1}}" min="{{onlyEven ? 2 : 1}}" max="100" type="number">
							   
						  </td>
						  <td class="col-sm-2"><a class="remove_product" ng-click="remove(product,key)"><span class="hidden-xs">Remove</span><span class="btn btn-xs btn-link visible-xs-inline"><span class="glyphicon glyphicon-remove"></span></span></a></td>
						  <td class="col-sm-2">
						  <span ng-class="{strike: product.discount < product.price}" class="product_price">{{product.price * variation.qty  | currency:"$"}}</span>
						 <span ng-show="product.discount < product.price" class="product_price" style="color: red;">{{product.discount * variation.qty  | currency:"$"}} </span>
	  
						  </td>
					  </tr>
				  
			  </tbody>
		
		 
	</table>

	<hr>
					
	<div style="text-align: right;" id="coupon_form" >
	<form ng-submit="applyCoupon()">
		<div class="form-group">
			<label class="sr-only col-xs-12 col-sm-6" for="promo">Enter Promotional Code</label>
			<input type="text" ng-model="promo" class="form-control" id="promo" placeholder="Enter Promotional Code">
		</div>
		<div class="coupon-code-notice">
			<p><small><span class="aster">*</span>Coupon discount applied to this shipment only.</small></p>
			<p><small><span class="aster">**</span>Coupon code may only be used once.</small></p>
		</div>
		<lbutton id="apply_coupon" data-trigger="cbtn"  data-template="lbutton-submit">
			<span class="text">Apply</span>
		</lbutton>
	</form>	
	</div>
	
  					
	<hr>
	
	
	
	<div id="cart_subtotal" class="pull-right ">
		<table class="table">
		
		<tr>
			<td class="col-sm-8">Sub Total:</td><td class="col-sm-4">{{totals.subtotal | currency:"$"}}</td>
		</tr>
		<tr >
			<td>Shipping:</td><td>{{totals.shipping | currency:"$"}}</td>
		</tr>
		<!-- <a ng-click="removeCoupon()"><span class="glyphicon glyphicon-remove"></span></a> -->
		<tr ng-show="totals.off" style="color: red;">
			<td>Promotion ({{totals.discount.promo}}):</td><td>-{{totals.off | currency:"$"}}</td>
		<tr ng-show="totals.tax">
			<td>Sales Tax:</td><td>{{totals.tax | currency:"$"}}</td>
		</tr>
		<tr>
			<td>Order Total:</td><td>{{totals.total | currency:"$"}}</td>
		</tr>
		
		</table> 
	</div>
	<div class="clearfix"></div>
	
	
	
	 <hr>
	

 
</div>
 