<a id="checkout-top" name="top"></a>
<div class="clearfix"></div>
  
  <hr>
	
	
	
	<div id="cart_subtotal" class="pull-right ">
		<table class="table">
		
		<tr>
			<td class="col-sm-8">Sub Total:</td><td class="col-sm-4">{{totals.subtotal | currency:"$"}}</td>
		</tr>
		<tr >
			<td>Shipping:</td><td>{{totals.shipping | currency:"$"}}</td>
		</tr>
		<tr >
			<td>Shipping Override:</td><td><input style="text-align:right;" placeholder="{{totals.shipping}}" ng-model="form.shipping_override" name="shipping_override" class="form-control" type="number"></td>
		</tr>
	 
		<tr ng-show="totals.off" style="color: red;">
			<td>Promotion ({{totals.discount.promo}}):</td><td>-{{totals.off | currency:"$"}}</td>
		<tr ng-show="totals.tax">
			<td>Sales Tax:</td><td>{{totals.tax | currency:"$"}}</td>
		</tr>
		<tr ng-if="form.shipping_override >= 0 && undefined != form.shipping_override ">
			<td>Order Total:</td><td>{{totals.total + (form.shipping_override - totals.shipping)| currency:"$"}}</td>
		</tr>
		<tr ng-if="undefined == form.shipping_override">
			<td>Order Total:</td><td>{{totals.total | currency:"$"}}</td>
		</tr>
		
		</table> 
	</div>
	<div class="clearfix"></div>
	
	
	
	 <hr>



  <div ng-show="error.checkout" class="alert alert-danger"  role="alert">{{error.checkout}}</div>
  <p class="col-xs-12" ng-hide="totals.items">Your cart is empty.</p>
<div ng-show="totals.items">
	
	
 <form name="checkoutForm" ng-submit="checkout()" novalidate autocomplete="off">
 
 	<!---- BILLING INFO --->	
 
	<h2>Billing Information</h2>
	<div class="form-group">
		<input 
			type="text" 
			name="taxid" 
			ng-model="customer.form.taxid" 
			class="form-control" 
			ng-change="save()" 
			placeholder="Resale Number"
		>
	</div>
	<div  class="form-group">
		 <input  ng-change="save()" 
		 ng-class="{invalid: checkoutForm.company.$error.required && submitted}" 
		 type="text" ng-model="customer.form.company" class="form-control"  name="company" placeholder="Company Name">
		 <span ng-show="checkoutForm.company.$error.required && submitted" class="label validator label-danger">this field is required.</span>
 	</div>
 	<div class="form-group">
		<input required ng-change="save()"
		ng-class="{invalid: checkoutForm.firstName.$error.required && submitted}"  type="text" ng-model="customer.form.firstName" class="form-control" name="firstName" placeholder="First Name">
		<span ng-show="checkoutForm.firstName.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
    </div>
    <div class="form-group">
	    <input required  ng-change="save()"
	    ng-class="{invalid: checkoutForm.lastName.$error.required && submitted}" type="text" ng-model="customer.form.lastName" class="form-control" name="lastName" placeholder="Last Name">
	    <span ng-show="checkoutForm.lastName.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
    </div>
    <div class="form-group">
		<input required ng-change="save()"
		ng-class="{invalid: checkoutForm.billingPhone.$error.required && submitted}"  type="tel" ng-model="customer.form.billingPhone" class="form-control" name="billingPhone" placeholder="Phone #">
		<span ng-show="checkoutForm.billingPhone.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
    </div>
	<div class="form-group">
		<input required  ng-change="save()"
		ng-class="{invalid: checkoutForm.billingAddress1.$error.required && submitted}" type="text" ng-model="customer.form.billingAddress1" class="form-control" name="billingAddress1" placeholder="Billing Address 1">
		<span ng-show="checkoutForm.billingAddress1.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
	</div>
	<div class="form-group">
		<input  ng-change="save()" type="text" ng-model="customer.form.billingAddress2" class="form-control" placeholder="Billing Address 2">
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
		  <input required  ng-change="save()"
		  ng-class="{invalid: checkoutForm.billingCity.$error.required && submitted}" type="text" ng-model="customer.form.billingCity" class="form-control" name="billingCity" placeholder="Billing City">
		  <span ng-show="checkoutForm.billingCity.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
		</div>
		<div class="col-sm-6 form-group">
		  	<select required  ng-change="save()"
			  	ng-class="{invalid: checkoutForm.billingState.$error.required && submitted}" ng-change="save()" class="form-control" name="billingState" ng-model="customer.form.billingState">
		      	<option selected value="">State</option>
			    <option value="AL">Alabama</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District Of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
			<span ng-show="checkoutForm.billingState.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
		</div>
		<div  class="col-sm-5 form-group">
			<input required  ng-change="save()"
			ng-class="{invalid: checkoutForm.billingZip.$error.required && submitted}" type="text" ng-model="customer.form.billingZip" class="form-control" name="billingZip" placeholder="Billing Zip">
			<span ng-show="checkoutForm.billingZip.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
		</div>
	</div>
		
	<!---- SHIPPING INFO --->		
		<!-- APO SHIPPING -->
		<div style="padding-bottom: 2em;" ng-show="customer.form.shipToApo">
			<h2>APO Shipping Information</h2>
		 	<div class="form-group">
				<input ng-required="customer.form.shipToApo"  ng-change="save()"
				ng-class="{invalid: checkoutForm.apoAddress1.$error.required && submitted}" type="text" name="apoAddress1" ng-model="customer.form.apoAddress1" class="form-control" placeholder="APO Address 1">
				 <span ng-show="checkoutForm.apoAddress1.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
			</div>
			<div class="form-group">
				<input  ng-change="save()" type="text" name="apoAddress2" ng-model="customer.form.apoAddress2" class="form-control" placeholder="APO Address 2">
			</div>
			
			<div class="row">
				<div class="col-sm-6 form-group">
					<select ng-required="customer.form.shipToApo" ng-change="save()" 
						ng-class="{invalid: checkoutForm.apoCity.$error.required && submitted}" name="apoCity" class="form-control" ng-model="customer.form.apoCity">
						<option value="">APO/FPO/DPO</option>
						<option value="APO">APO</option>
						<option value="FPO">FPO</option>
						<option value="DPO">DPO</option>
					</select>
					<span ng-show="checkoutForm.apoCity.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
				</div>
				<div class="col-sm-6 form-group">
					<select ng-required="customer.form.shipToApo"  ng-change="save()" 
						ng-class="{invalid: checkoutForm.apoState.$error.required && submitted}" name="apoState" class="form-control" ng-model="customer.form.apoState">
						<option selected value="">AP/AE/AA</option>
						<option value="AP">AP</option>
						<option value="AE">AE</option>
						<option value="AA">AA</option>
					</select>
					<span ng-show="checkoutForm.apoState.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
				</div>
			</div><!-- end row -->
			<div class="form-group">
				<input ng-required="customer.form.shipToApo"  ng-change="save()" 
				ng-class="{invalid: checkoutForm.apoZip.$error.required && submitted}" type="text" name="apoZip" ng-model="customer.form.apoZip" class="col-sm-6 form-control" placeholder="APO Zip">
				<span ng-show="checkoutForm.apoZip.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
			
			</div>
		</div>
		
		
		
		
		
		<!-- Normal SHIPPING -->
		<div style="padding-bottom: 2em;" ng-hide="customer.form.shipToApo">
			<h2>Shipping Information</h2>
			<ul class="form-group">
			    <li><input name="shipto" ng-change="save()"  ng-model="customer.form.shipToBill" type="radio" ng-checked="customer.form.shipToBill" ng-value="true"> Ship to same address as above</li>
				<li><input name="shipto" ng-change="save()" ng-model="customer.form.shipToBill" type="radio" ng-checked="!customer.form.shipToBill" ng-value="false"> Ship to different address</li>
			</ul>
		
			<div collapse="customer.form.shipToBill">
			 	<div class="form-group">
					<input ng-required="customer.form.shipToBill == customer.form.shipToApo"  ng-change="save()"
					ng-class="{invalid: checkoutForm.shippingAddress1.$error.required && submitted}" type="text" name="shippingAddress1" ng-model="customer.form.shippingAddress1" class="form-control" placeholder="Shipping Address 1">
					 <span ng-show="checkoutForm.shippingAddress1.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
				</div>
				<div class="form-group">
					<input  ng-change="save()" type="text" name="shippingAddress2" ng-model="customer.form.shippingAddress2" class="form-control" placeholder="Shipping Address 2">
				</div>
				<div class="row">
					<div class="col-sm-6 form-group">
						<input ng-required="customer.form.shipToBill == customer.form.shipToApo"  ng-change="save()" 
						ng-class="{invalid: checkoutForm.shippingCity.$error.required && submitted}" type="text" name="shippingCity" ng-model="customer.form.shippingCity" class="form-control" placeholder="Shipping City">
						<span ng-show="checkoutForm.shippingCity.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
				
					</div>
					<div class="col-sm-6 form-group">
						<select ng-required="customer.form.shipToBill == customer.form.shipToApo"  ng-change="save()" 
							ng-class="{invalid: checkoutForm.shippingState.$error.required && submitted}" name="shippingState" class="form-control" ng-model="customer.form.shippingState">
								<option selected value="">State</option>
				    <option value="AL">Alabama</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="DC">District Of Columbia</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Maryland</option>
					<option value="MA">Massachusetts</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
						</select>
						<span ng-show="checkoutForm.shippingState.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
				
					</div>
				</div><!-- end row -->
				<div class="form-group">
					<input ng-required="customer.form.shipToBill == customer.form.shipToApo"  ng-change="save()" 
					ng-class="{invalid: checkoutForm.shippingZip.$error.required && submitted}" type="text" name="shippingZip" ng-model="customer.form.shippingZip" class="col-sm-6 form-control" placeholder="Shipping Zip">
					<span ng-show="checkoutForm.shippingZip.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
				</div>
			</div><!-- end collapse -->
		</div>
	


	 
		
<!---- PAYMENT INFO --->		
	<div>
		<h2>Payment Information</h2>
		
		<!--
		<div ng-show="customer.credit.total">
			<ul class="cards" >
				<li>
					<p>Use your FITBUCKS!</p>
					<input type="checkbox" checked/> Apply <strong>{{totals.fitbucks_applied | currency:"$"}}</strong> of your <strong>{{customer.credit.total | currency:"$"}}</strong> FITBUCKS towards this order.
				</li>
			</ul>
			<hr>
		</div>
		-->
	
		<ul ng-if="!totals.groupqty.subscription && totals.subtotal!=totals.off" class="cards">
			<li class=""><input ng-change="save()" ng-model="customer.form.card" ng-value="88" type="radio" > <img width="176" src="//drinkfitaid.com/media/pay-with-paypal.jpg"></li>
		</ul>   
		
		
	</div>
	
	
	<div ng-show="customer.paymentProfiles">
	<hr>
		<h2>Pay with Existing Card</h2>
		<ul class="cards">
			<li ng-repeat="profile in customer.paymentProfiles">
				<input ng-change="save()" type="radio" ng-model="customer.form.card" ng-value="profile.customerPaymentProfileId"> XXXX{{profile.payment.creditCard.cardNumber | uppercase}} EXP: xxxx <br>
			</li>
			
		</ul>
	</div>


	<hr>
	<h2><span ng-show="customer.paymentProfiles">Pay with a New Card</span><span ng-hide="customer.paymentProfiles">Pay with a Credit Card</span></h2>	  
	<ul class="cards">
		<li>
			<p><input ng-change="save()" ng-model="customer.form.card"  ng-value="1" type="radio" > 
			<img src="//drinkfitaid.com/media/card_types.jpg" width="182">
			</p>
			<div collapse="customer.form.card != 1" class="col-sm-12">
	 
				 
				<div class="form-group">
	              <input autocomplete="off" ng-required="customer.form.card == 1"  ng-change="save()"
	              ng-class="{invalid: checkoutForm.cardNumber.$error.required && submitted}" name="cardNumber" ng-model="customer.form.cardNumber" type="text" class="form-control" placeholder="Card Number">
				  <span ng-show="checkoutForm.cardNumber.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
			
	            </div>
		        <div class="row">
	                <div class="col-xs-6">
	                    <div class="form-group">
	                      <select autocomplete="off" ng-required="customer.form.card == 1"  ng-change="save()" ng-class="{invalid: checkoutForm.expMonth.$error.required && submitted}"  name="expMonth"  ng-model="customer.form.expMonth" type="text" class="form-control" >
	                      <option value="">Exp MM</option>
	                      <option value="01">01</option>
	                      <option value="02">02</option>
	                      <option value="03">03</option>
	                      <option value="04">04</option>
	                      <option value="05">05</option>
	                      <option value="06">06</option>
						  <option value="07">07</option>
						  <option value="08">08</option>
						  <option value="09">09</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						  </select>
						  <span ng-show="checkoutForm.expMonth.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
			
	                    </div>
	                </div>
	                <div class="col-xs-6">
	                    <div class="form-group">
	                      <select autocomplete="off" ng-required="customer.form.card == 1"  ng-change="save()" ng-class="{invalid: checkoutForm.expYear.$error.required && submitted}" name="expYear" type="text" ng-model="customer.form.expYear"class="form-control">
						  <option value="">Exp YYYY</option>
						 	                      <option value="2015">2015</option>
	                     <option value="2016">2016</option>
	                     <option value="2017">2017</option>
	                     <option value="2018">2018</option>
	                     <option value="2019">2019</option>
	                     <option value="2020">2020</option>
	                     <option value="2021">2021</option>
	                     <option value="2022">2022</option>
	                     <option value="2023">2023</option>
	                     <option value="2024">2024</option>
	                     <option value="2025">2025</option>
						  </select>
						  <span ng-show="checkoutForm.expYear.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
			
	                    </div>
	                </div>
	               
	                <div class="col-xs-4">
	                    <div class="form-group">
	                      <input autocomplete="off" ng-change="save()"
	                       ng-class="{invalid: checkoutForm.cvv2.$error.required && submitted}" name="cvv2" type="text" ng-model="customer.form.cvv2" class="form-control" placeholder="CVV2">
						 <span ng-show="checkoutForm.cvv2.$error.required && submitted" class="label validator label-danger ">this field is required.</span>
			 
	                    </div>
	                </div>
	            </div><!-- end row -->
	        </div>
	         <div class="clearfix"></div>	
		</li>
	</ul>  
	

	
 
 
 
 

 

 <lbutton data-trigger="button.checkout" data-template="lbutton-submit">
  		<span class="text"><span class="glyphicon glyphicon-lock"></span> Secure Checkout</span> 
     </lbutton>
 
  <div style="padding: 1em;"></div>
   </form> 
</div>
 

