<h3>Great Success!</h3>
 
<p>Thank you for choosing FITAID! While you're reading this, we already sent you a receipt for your order. If you did not receive a receipt yet, check that ol' spam filter of yours. A tracking number will be sent to you once your order ships.</p>