<div class="fitclub product_box col-xs-12 ">
	<form ng-submit="addItem(this)" name="addToForm" novalidate>
	
	 	<div class="col-sm-6">
			<h6> {{product.name}} {{product.price | currency:"$"}}</h6>
			<div class="padded-wrapper">			
				<p class="product_description">{{product.description}}</p>
				
				<ul style="font-size: 1.15em;">
					<li><span class="glyphicon glyphicon-ok"></span> <b>Free ongoing Shipping</b></li>
					<li><span class="glyphicon glyphicon-ok"></span> <b>Free Shirt or Tank Top with 1st Order</b></li>
					<li><span class="glyphicon glyphicon-ok"></span> <b>Free FITAID Stickers with 1st Order</b></li>
					<li><span class="glyphicon glyphicon-ok"></span> You choose delivery frequency</li>
				</ul>				 
				
				<p class="p-cancel">Cancel anytime after your first three shipments.</p>
				
				<div class="fitaid-pack-wrapper"><img src="/media/{{product.images[0]}}"></div>
			</div>
	 	</div>  
	 	
		<div class="col-sm-6">	 	
			<ul class="product_options">
				<li class="qty row"><br>Qty</b><input ng-model="myQty" ng-init="myQty = 1" type="number" name="qty" value="1"></li>
				
				<li class="row" ng-show="product.option2">				
					<div class="col-sm-6">
						<h4>Free T-Shirt or Tank</h4>
						<select ng-class="{invalid: addToForm.option2.$error.required && submitted}" ng-required="product.option2" class="form-control" name="option2" ng-model="add[0][0]" ng-options="value as value.label for value in product.option2.values">
							<option value="">{{product.option2.label | uppercase}}</option>
						</select>
						
						<ul style="margin: 1em;">
							<li  ng-show="add[0][0].value == 'V0FA2700F'">
								<b>{{product.option3.label}}</b>
								<select ng-class="{invalid: addToForm.option3.$error.required && submitted}" ng-required="add[0][0].value == 'V0FA2700F'" class="form-control" name="option3" ng-model="add[0][1]" ng-options="value as value.label for value in product.option3.values">
									<option value="">{{product.option3.label | uppercase}}</option>
								</select>
							</li>
							<li  ng-show="add[0][0].value == 'V0FA2700F' && add[0][1].value">
							<b>{{product.option4.label}}</b>
								<select ng-class="{invalid: addToForm.option4.$error.required && submitted}" ng-required="add[0][0].value == 'V0FA2700F'" class="form-control" name="option4" ng-model="add[0][2]" ng-options="value as value.label for value in sizes[add[0][1].value]">
									<option value="">{{product.option4.label | uppercase}}</option>
								</select>
							</li>	
							<li  ng-show="add[0][0].value == 'VFA10'">
							<b>{{product.option5.label}}</b>
								<select ng-class="{invalid: addToForm.option5.$error.required && submitted}" ng-required="add[0][0].value == 'VFA10'" class="form-control" name="option5" ng-model="add[0][1]" ng-options="value as value.label for value in product.option5.values">
									<option value="">{{product.option5.label | uppercase}}</option>
								</select>
							</li>	
							<li  ng-show="add[0][0].value == 'VFA10'">
							<b>{{product.option6.label}}</b>
								<select ng-class="{invalid: addToForm.option6.$error.required && submitted}" ng-required="add[0][0].value == 'VFA10'" class="form-control" name="option6" ng-model="add[0][2]" ng-options="value as value.label for value in product.option6.values">
									<option value="">{{product.option6.label | uppercase}}</option>
								</select>
							</li>	
						</ul>
					</div>
					<div class="col-sm-6">
						<div class="image-wrapper"><img src="/media/fitclub-fran-free-shirt.png" alt=""></div>
					</div>
			 
				</li>
				<li class="row" ng-show="product.option7">
					<div class="col-sm-6">
						<h4>FREE Atlas Power Wrist Wraps</h4>
						<select ng-class="{invalid: addToForm.option7.$error.required && submitted}" ng-required="product.option7" class="form-control" name="option7" ng-model="add[1][0]" ng-options="value as value.label for value in product.option7.values">
							<option value="">{{product.option7.label | uppercase}}</option>
						</select>
					</div>
					<div class="col-sm-6">
						<div class="calendar-wrapper"><img src="/media/fitclub-fran-free-wraps.png" alt=""></div>
					</div>
				</li>
				
				<li class="row" ng-show="product.subscription">
					<div class="col-sm-6">
						<h4>When do you want fitaid?</h4>
						<select ng-class="{invalid: addToForm.subscription.$error.required && submitted}" ng-required="product.subscription" class="form-control" name="subscription" ng-model="subscription" ng-options="value as value.label for value in product.subscription.values">
							<option value="">{{product.subscription.label | uppercase}}</option>
						</select>
					</div>
					<div class="col-sm-6">
						<div class="calendar-wrapper"><img src="/media/fitclub-graphic-calendar.png" alt=""></div>
					</div>
				</li>
				<li class="auto-free-stickers-shipping row">
					<div class="col-sm-4">
						<p class="p-automatically"><span>AUTOMATICALLY INCLUDED: </span><br>Stickers (1 time)<br>Shipping (ongoing)</p>
					</div>
					<div class="col-sm-8 stickers-shipping-image-wrapper">
						<div class="stickers-wrapper"><img src="/media/fitclub-fran-free-stickers.png" alt=""></div>
						<div class="shipping-wrapper"><img src="/media/fitclub-fran-free-shipping.png" alt=""></div>
					</div>
				</li>
				
				<li class="add-to-cart row"><button type="submit" class="btn btn-default" role="button" >Add to Cart</button></li>			
			</ul>
		</div>
	<div class="clearfix"></div>
	</form>
</div>