<button ng-class="{active: trigger}" class="btn btn-default btn-lg" type="submit" ng-disabled="trigger">
	
	<span class="text" ng-transclude></span>
	<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div></div>
	
</button>