<a ng-class="{active: trigger}" class="btn btn-lg btn-default" ng-click="run()" ng-disabled="trigger">
	
	<span class="text" ng-transclude></span>
	<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div></div>
	
</a>