 <div id="mini-container">
 <form action="/cart">
						<div id="mini-cart_content">
							 <table id="cart_table" class="table">
		
		 	 	<tbody ng-repeat="product in products">
					 
					  <tr ng-repeat="(key, variation) in product.variations">
						
												  
					  	<td class="col-sm-3"><img width="100%" src="/media/{{product.images[0]}}"></td>
					  	
						  <td class="col-sm-7">
						  
						  	<b>{{product.name}}</b> 
						  	<div class="mini-desc">
						  
						  		Quantity:{{variation.qty}}
						  	</div>
						    
							
						  </td>
						  
						  <td style="text-align: right;" class="col-sm-2" >
						  <span ng-class="{strike: product.discount < product.price}" class="product_price">{{product.price * variation.qty  | currency:"$"}} </span>
						  <span ng-show="product.discount < product.price" class="product_price" style="color: red;">{{product.discount * variation.qty  | currency:"$"}} </span>
	  
						  </td>
						    
					  </tr>
				  
			  </tbody>

</table>

					   </div>
					   <div id="mini-cart_footer">
						    <p class="mini-subtotal"> Your subtotal is: {{totals.subtotal | currency:"$"}}</p>
						   
							
						</div>		
</form>
					 
		</div>			 
