    <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
    <div ng-show="success" class="alert alert-success" role="alert">{{success}}</div>
    
  <tabset>

		
	 <tab heading="Subscriptions">
 
    	
     <accordion close-others="true">
     
    	<accordion-group heading='{{order.date * 1000| date:"medium"}} - #{{order.id | limitTo: -5}}' ng-repeat="order in orders" ng-if="order.is_subscription"> 
		<div style="text-align: center; padding-bottom: 1em;">#{{order.id}} - {{order.date * 1000| date:"medium"}}</div>
	      <div class="col-sm-6">
		      <form class="form form-inline">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th>Name:</th>
			     </thead>
			     <tbody>
				     <tr><td>
					 
	    <div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">First Name</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.firstName" placeholder="First Nanem">
						    </div>
					     </div>
					     <div class="form-group"> 
						    <div class="input-group">
						      <div class="input-group-addon">Last Name</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.lastName" placeholder="Last Name">
						    </div>
					     </div>
					     <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Company</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.company" placeholder="Company">
						    </div>
     					 </div>
	     			  </tr></td>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>
	      
	      <div class="clearfix"></div>
	      
	      <div class="col-sm-6">
		      <form class="form form-inline">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th><input name="shipto" ng-model="order.customer.form.shipToBill" type="radio" ng-checked="order.customer.form.shipToBill" ng-value="true"> Ship to Billing Address: </th>
			     </thead>
			     <tbody>
				     <tr><td>
					     
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing Address 1</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.billingAddress1" placeholder="Billing Address 1">
						    </div>
     					 </div>
					       <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing Address 2</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.billingAddress2" placeholder="Billing Address 2">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing City</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.billingCity" placeholder="Billing City">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing State</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.billingState" placeholder="Billing State">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing Zip</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.billingZip" placeholder="Billing Zip">
						    </div>
     					 </div>
     					 
					  </tr></td>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>
	      
	    	  <div class="col-sm-6">
		      <form class="form form-inline">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th><input name="shipto" ng-model="order.customer.form.shipToBill" type="radio" ng-checked="!order.customer.form.shipToBill" ng-value="false"> Ship to Shipping Address: </th>
			     </thead>
			     <tbody>
				     <tr><td>
					    
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Shipping Address 1</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.shippingAddress1" ng-disabled="order.customer.form.shipToBill" placeholder="Shipping Address 1">
						    </div>
     					 </div>
					       <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Shipping Address 2</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.shippingAddress2" ng-disabled="order.customer.form.shipToBill" placeholder="Shipping Address 2">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Shipping City</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.shippingCity" ng-disabled="order.customer.form.shipToBill" placeholder="Shipping City">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Shipping State</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.shippingState" ng-disabled="order.customer.form.shipToBill" placeholder="Shipping State">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Shipping Zip</div>
						      <input type="text" class="form-control" ng-model="order.customer.form.shippingZip" ng-disabled="order.customer.form.shipToBill" placeholder="Shipping Zip">
						    </div>
     					 </div>
     					 
					  </tr></td>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>

 


 <div class="col-sm-12">
		      <form class="form form-inline">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th>Payment Details:</th>
			     </thead>
			     <tbody>
				     <tr><td>

	    <div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">Billing Card</div>
						      <select class="form-control" ng-init="setBillingInit(order.customer.form)" ng-change="setBillingCard(order.customer.form)" ng-model="order.customer.form.cardSelect" ng-options="profile.payment.creditCard.cardNumber for profile in customer.paymentProfiles"></select>
				 
						 
						    </div>
					     </div>
					   
	     			  </tr></td>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>
	      
	      <div class="clearfix"></div>



 
 
 


<div class="col-xs-12">
	<form class="form form-inline">
	    <table class="table table-condensed">
			<thead>
				<tr><td><b>Products:</b></td></tr>
			</thead>
		 	 	<tbody ng-repeat="product in order.products" ng-if="product.variations">
				
					  <tr ng-repeat="(key, variation) in product.variations" ng-if="variation.subscription.interval">
						  
							<td class="col-xs-1"><img width="100%" src="//www.drinkfitaid.com/media/{{product.images[0]}}"></td>
							<td class="col-xs-5"><b>{{product.name}}</b><br>{{product.discount * variation.qty  | currency:"$"}}</td>
							<td class="col-sm-6">
								 
						 <div class="form-group">
							<div class="input-group">
						      <div class="input-group-addon">Interval Label</div>
						      <input class="form-control" ng-model="variation.subscription.interval.label" type="text" placeholder="Interval Label" >
						    </div>
					     </div>	
						 
						 <div class="form-group">
							<div class="input-group">
						      <div class="input-group-addon">Interval (Days)</div>
						      <input class="form-control" ng-model="variation.subscription.interval.value" type="number" placeholder="Days" >
						    </div>
					     </div>
							    
						 	 <div class="form-group">
						  <div class="input-group">
						      <div class="input-group-addon">Quantity</div>
						      <input class="form-control" ng-model="variation.qty" type="number" placeholder="Quantity">
						    </div>
					     </div>
						   
				 			
				 		 
				 	
						  
						    
							
						  </td>
						  
						  
						    
					  </tr>
					  
			  </tbody>

</table>
	</form>
	</div>

	 
 <div class="col-xs-12">
	 
	<table class="table">
		<thead>
				<tr><td><b>History:</b></td></tr>
			</thead>
	<tr ng-repeat="history in order.history" >
		<td>
			<span ng-if="!history.date.sec">{{history.date * 1000 | date:"medium"}}</span>
			<span ng-if="history.date.sec">{{history.date.sec * 1000 | date:"medium"}}</span>
		</td>
		<td>{{history.code}}</td>
		<td class="hidden-xs">{{history.details}}</td>
		<td class="hidden-xs">{{history.user}}</td>
	</tr>
	</table>
 </div>
 
 <div class="col-xs-12 col-sm-6">
 <button class="form-control btn-success" ng-disabled="button.save" ng-click="saveOrder(order)">Save</button>
 </div>
 
 <div class="col-xs-12 col-sm-6">
  <button class="form-control btn-danger" ng-disabled="button.cancel" ng-click="cancel(order)">Cancel</button>
 </div>	    	 
	   </accordion-group>
	 		
         </accordion>
    
    </tab>

<tab heading="Order History">
     
    	
     
	    	
     <accordion close-others="true">
     
	    	<accordion-group heading='{{order.date * 1000| date:"medium"}} - #{{order.id | limitTo: -5}}'  ng-repeat="order in orders"> 
		    <div style="text-align: center; padding-bottom: 1em;">#{{order.id}} - {{order.date * 1000| date:"medium"}}</div>
	    	 
	    	 
	    	 <table class="col-sm-6">
		    	 <thead>
			    	 <th>Bill To:</th>
			     </thead>
			     <tbody>
				     <tr><td>{{order.customer.form.firstName}} {{order.customer.form.lastName}}</td></tr>
				     <tr><td>{{order.customer.form.company}} {{order.customer.form.company}}</td></tr>
				     <tr><td>{{order.customer.form.billingAddress1}}</td></tr>
				     <tr><td>{{order.customer.form.billingAddress2}}</td></tr>
				     <tr><td>{{order.customer.form.billingCity}}, {{order.customer.form.billingState}} {{order.customer.form.billingZip}}</td></tr>
			     </tbody>
			     
			     
	    	 </table>
	    	 
	    	 <table class="col-sm-6">
		    	 <thead>
			    	 <th>Ship To:</th>
			     </thead>
			     
			     <tbody ng-if="order.customer.form.shipToBill">
				     <tr><td>{{order.customer.form.firstName}} {{order.customer.form.lastName}}</td></tr>
				     <tr><td>{{order.customer.form.company}} {{order.customer.form.company}}</td></tr>
				     <tr><td>{{order.customer.form.billingAddress1}}</td></tr>
				     <tr><td>{{order.customer.form.billingAddress2}}</td></tr>
				     <tr><td>{{order.customer.form.billingCity}}, {{order.customer.form.billingState}} {{order.customer.form.billingZip}}</td></tr>
			     </tbody>
			     
			     <tbody ng-if="!order.customer.form.shipToBill">
				     <tr><td>{{order.customer.form.firstName}} {{order.customer.form.lastName}}</td></tr>
				     <tr><td>{{order.customer.form.company}} {{order.customer.form.company}}</td></tr>
				     <tr><td>{{order.customer.form.shippingAddress1}}</td></tr>
				     <tr><td>{{order.customer.form.shippingAddress2}}</td></tr>
				     <tr><td>{{order.customer.form.shippingCity}}, {{order.customer.form.shippingState}} {{order.customer.form.shippingZip}}</td></tr>
			     </tbody>
			     
			     
	    	 </table>
	    	 
				
				   		<div style="clear: both; padding: 1em;"></div>
				   		
				   		<table id="cart_table" class="table">
		
		 	 	<tbody ng-repeat="product in order.products">
					 
					  <tr ng-repeat="(key, variation) in product.variations" ng-show="variation.qty">
								<td class="col-xs-1"><img width="100%" src="//www.drinkfitaid.com/media/{{product.images[0]}}"></td>
							<td class="col-sm-7">
						  
						  	<b>{{product.name}}</b> 
						  	<div class="mini-desc">
						  	<ul class="options hidden-xs">
							    <li ng-show="variation.subscription.interval.label">Delivery Frequency: {{variation.subscription.interval.label}}</li>	
						  		<li ng-show="variation.add[0][0]">{{product.option2.label}}: {{variation.add[0][0].label}}, {{variation.add[0][1].label}}, {{variation.add[0][2].label}}</li>
						  		<li ng-show="variation.add[1][0]">{{product.option7.label}}: {{variation.add[1][0].label}}</li>
						  		<li ng-show="variation.option1">{{product.option1.label}}: {{variation.option1.label}}</li>
						    	<li ng-show="variation.option2">{{product.option2.label}}: {{variation.option2.label}}</li>
								<li>Quantity: {{variation.qty}}</li>
				 			</ul>
				 			
						  	</div>
						    
							
						  </td>
						  
						  <td style="text-align: right;" class="col-sm-2" >
						  <span ng-class="{strike: product.discount < product.price}" class="product_price">{{product.price * variation.qty  | currency:"$"}} </span>
						  <span ng-show="product.discount < product.price" class="product_price" style="color: red;">{{product.discount * variation.qty  | currency:"$"}} </span>
	  
						  </td>
						    
					  </tr>
				  
			  </tbody>

</table>


			    	
			     
			    	
			    
				
				<table class="table">
					
					<tr>
						<td>Sub Total:</td><td>{{order.totals.subtotal | currency:"$"}}</td>
					</tr>
					<tr>
						<td>Shipping:</td><td>{{order.totals.shipping | currency:"$"}}</td>
					</tr>
					<!-- <a ng-click="removeCoupon()"><span class="glyphicon glyphicon-remove"></span></a> -->
					<tr ng-show="order.totals.off" style="color: red;">
						<td>Promotion ({{order.promo}}):</td><td>-{{order.totals.off | currency:"$"}}</td>
					<tr ng-show="order.totals.tax">
						<td>Sales Tax:</td><td>{{order.totals.tax | currency:"$"}}</td>
					</tr>
					<tr>
						<td>Order Total:</td><td>{{order.totals.total | currency:"$"}}</td>
					</tr>
					
					</table> 
		    	
		    	
		    	 <div class="col-xs-12">
	 
	<table class="table">
		<thead>
				<tr><td><b>History:</b></td></tr>
			</thead>
	<tr ng-repeat="history in order.history" >
		<td>
			<span ng-if="!history.date.sec">{{history.date * 1000 | date:"medium"}}</span>
			<span ng-if="history.date.sec">{{history.date.sec * 1000 | date:"medium"}}</span>
		</td>
		<td>{{history.code}}</td>
		<td class="hidden-xs">{{history.details}}</td>
		<td class="hidden-xs">{{history.user}}</td>
	</tr>
	</table>
 </div>

   <div class="col-sm-12">
 <button class="form-control btn-danger" ng-disabled="button.save" ng-click="deleteOrder(order.id)">Delete Order</button>
</div>


	    	</accordion-group>	
	    	
	    	  </accordion>
     
    	 
			
    		 
	</tab>

	<tab heading="Credit Cards">
 
	 <accordion close-others="true">
     
	    	<accordion-group heading='Add a Card'> 
	 
	   
	    		 <div class="col-sm-6">
		      <form class="form form-inline">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th>Card Details:</th>
			     </thead>
			     <tbody>
				     <tr><td>
					     
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Card Number</div>
						      <input type="text" class="form-control" ng-model="card.cardNumber" placeholder="Card Number">
						    </div>
     					 </div>
					       <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Exp Year</div>
						      <input type="text" class="form-control" ng-model="card.expYear" placeholder="Exp Year">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Exp Month</div>
						      <input type="text" class="form-control" ng-model="card.expMonth" placeholder="Exp Month">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">CVV2</div>
						      <input type="text" class="form-control" ng-model="card.cvv2" placeholder="CVV2">
						    </div>
     					 </div>
     					        					 
					  </tr></td>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>




			 <div class="col-sm-6">
		      <form class="form form-inline">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th>Billing Address:</th>
			     </thead>
			     <tbody>
				     <tr><td>
					     
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">First Name</div>
						      <input type="text" class="form-control" ng-model="card.firstName" placeholder="First Name">
						    </div>
     					 </div>
					       <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Last Name</div>
						      <input type="text" class="form-control" ng-model="card.lastName" placeholder="Last Name">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Company</div>
						      <input type="text" class="form-control" ng-model="card.company" placeholder="Company">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing Address 1</div>
						      <input type="text" class="form-control" ng-model="card.billingAddress1" placeholder="Billing Address 1">
						    </div>
     					 </div>
     					   <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing Address 2</div>
						      <input type="text" class="form-control" ng-model="card.billingAddress2" placeholder="Billing Address 2">
						    </div>
     					 </div>
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing City</div>
						      <input type="text" class="form-control" ng-model="card.billingCity" placeholder="Billing Address 2">
						    </div>
     					 </div>
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing State</div>
						      <input type="text" class="form-control" ng-model="card.billingState" placeholder="Billing State">
						    </div>
     					 </div>
     					  <div class="form-group"> 
						     <div class="input-group">
						      <div class="input-group-addon">Billing Zip</div>
						      <input type="text" class="form-control" ng-model="card.billingZip" placeholder="Billing Zip">
						    </div>
     					 </div>
     					 
					  </tr></td>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>

 <div class="col-xs-12 col-sm-6">
 <button class="form-control btn-success" ng-disabled="button.save" ng-click="addCard(card)">Add Card</button>
 </div>
	

	 
	    	</accordion-group>
	    	
	    		<accordion-group ng-repeat="profile in customer.paymentProfiles" heading='{{profile.payment.creditCard.cardNumber}}'>
	     
	    		 <div class="col-xs-12 col-sm-6">
	    		 <button class="form-control btn-danger" ng-disabled="button.save" ng-click="deleteCard(profile.customerPaymentProfileId)">Delete this Card</button>
	    		 </div>
	    		</accordian-group>
	    	
	
</accordion>
 
	</tab>
	

	<tab heading="Account Details">
	
	 <div class="col-sm-6">
		      <form class="form  ">
	     <table class="table table-condensed">
		    	 <thead>
			    	 <th>Customer Details:</th>
			     </thead>
			     <tbody>
				     <tr><td>
					     
     					  <div class="form-group" ng-repeat="(key, variation) in customer.form" 
								ng-if="key != 'shipToBill' && 
									   key != 'newPassword' && 
									   key != 'shipToApo'  &&
									   key != 'card'  &&
									   key != 'baseurl'  &&
									   key != 'confirmurl'"> 
						     <div class="input-group">
						      <div class="input-group-addon">{{key}}</div>
						      <input type="text" class="form-control" ng-model="customer.form[key]" placeholder="{{key}}">
						    </div>
     					 </div>
					
     					 
					  </tr></td>
					  <tr>
						  <td>
							  
							  <div class="form-group"> 
							     <div class="input-group">
							      <div class="input-group-addon">Set New Password</div>
							      <input type="text" class="form-control" ng-model="customer.form.newPassword" placeholder="Set New Password">
							    </div>
							  </div>
							   <div class="form-group"> 
							     <div class="input-group">
							      <div class="input-group-addon">Current Password</div>
							      <input type="text" class="form-control" ng-model="customer.password" disabled="true">
							    </div>
							  </div>

     					 
							  
						  </td>
					  </tr>
			     </tbody>
			     
			     
	    	 </table>
		      </form>
	      </div>
	      <div class="clearfix"></div>
	      <div class="col-sm-6">
 <button class="form-control btn-success" ng-disabled="button.save" ng-click="saveCustomer(customer)">Save</button>
</div>
    </tab>
 	
 	
      
     </tabset>




 

