<div class="product-default product_box col-sm-4 ">
	<form ng-submit="addItem(this)" name="addToForm" novalidate>
	
	 	<div class="col-xs-12">
			<h6> {{product.name}} {{product.price | currency:"$"}}</h6>
			<center><img  src="/media/{{product.images[0]}}"></center>
			<p class="product_description">{{product.description}}</p>
	 	</div>  
	 	
		<ul class="product_options">
		 	<li class="qty"><br>Qty</b><input ng-model="myQty" ng-init="myQty = 1" type="number" name="qty" value="1"></li>
		 	<li class="col-md-6" ng-show="product.option1">
			 
				<select ng-class="{invalid: addToForm.option1.$error.required && submitted}" ng-required="product.option1" class="form-control" name="option1" ng-model="sku[1]" ng-options="value as value.label for value in product.option1.values">
					<option value="">SELECT {{product.option1.label | uppercase}}</option>
				</select>
		 	</li>
		 	<li class="col-md-6 add-to-cart pull-right"><button type="submit" class="btn btn-default" role="button" >Add to Cart</button></li>
		</ul>
		<div class="clearfix"></div>
	
	</form>
</div>