 <accordion-group>
	<accordion-heading>
		<div class="row">
			<div class="col-xs-12">
				{{product.slug}}<br/>
				<span class="text-muted">{{product.discount | currency:"$"}}</span>
			</div>
		</div>
	</accordion-heading>
  
    
<div class="product-default product_box ">
	<form ng-submit="addItem(this,true)"  name="addToForm" novalidate>
	
		<div class="col-xs-12"><img  src="//drinkfitaid.com/media/{{product.images[0]}}"></div>
		<div class="col-xs-12"><b>{{product.name}}</b></div>
		<div class="col-xs-12"><b>{{product.price | currency:"$"}}</b></div>
		 
	 	 
	 	
	 	<div class="col-xs-12">
		<ul class="product_options">
		 	
		 	<li class="qty"><br>Qty</b><input ng-model="attrs.myQty" ng-init="attrs.myQty = 1" type="number" name="qty" value="1"></li>
		 	
		 	<li ng-show="product.option1">
			    <select ng-class="{invalid: addToForm.option1.$error.required && submitted}" ng-required="product.option1" class="form-control" name="option1" ng-model="sku[1]" ng-options="value as value.label for value in product.option1.values">
					<option value="">SELECT {{product.option1.label | uppercase}}</option>
				</select>
		 	</li>
		 	<li ng-show="product.subscription">
			   <select ng-class="{invalid: addToForm.subscription.$error.required && submitted}" ng-required="product.subscription" class="form-control" name="subscription" ng-model="subscription" ng-options="value as value.label for value in product.subscription.values">
					<option value="">SELECT {{product.subscription.label | uppercase}}</option>
				</select>
		 	</li>
		 	<li class="add-to-cart pull-right"><button type="submit" class="btn btn-default" role="button" >Add to Cart</button></li>
		</ul>
		</div>
		<div class="clearfix"></div>
	
	</form>
</div>

  </accordion-group>