<div class="product-default product_box col-sm-4 ">
	<form ng-submit="addItem(this)"  name="addToForm" novalidate>
	
	 	<div class="col-xs-12">
			<h6> {{product.name}} {{product.price | currency:"$"}} (1.50 per can)</h6>
			<center><img  src="/media/{{product.images[0]}}"></center>
			<p class="product_description">{{product.description}}</p>
			<!-- begin low inventory notice -->
			<p class="low-inventory-notice text-center">BACK ORDERED<br> Pre-order now for mid-February shipment. As a gift you'll get a free case of PartyAID and a free case of GolferAID shipped first! Use promo code BACKORDER at checkout=)</p>
			<!-- end low inventory notice -->
		</div>  
	 	
		<ul class="product_options">
		 	<li class="qty"><br>Qty</b><input ng-model="myQty" ng-init="myQty = 1" type="number" name="qty" value="1"></li>
		 	<li class="col-md-6" ng-show="product.option1">
			   <select ng-class="{invalid: addToForm.option1.$error.required && submitted}" ng-required="product.option1" class="form-control" name="option1" ng-model="sku[1]" ng-options="value as value.label for value in product.option1.values">
					<option value="">SELECT {{product.option1.label | uppercase}}</option>
				</select>
		 	</li>
		 	<li class="col-md-6" ng-show="product.subscription">
			   <select ng-class="{invalid: addToForm.subscription.$error.required && submitted}" ng-required="product.subscription" class="form-control" name="subscription" ng-model="subscription" ng-options="value as value.label for value in product.subscription.values">
					<option value="">SELECT {{product.subscription.label | uppercase}}</option>
				</select>
		 	</li>
		 	<li class="col-xs-12 add-to-cart clearfix"><a class="fbox pull-left" href="/media/{{product.panel}}" title=""><img class="icon-supp-fact" src="/media/btn-see-sup-fact.png" alt=""><span>Supplement Facts</span></a><button type="submit" class="btn btn-default pull-right" role="button" >Add 2 Cases Cart</button></li>
		</ul>
	<div class="clearfix"></div>
	</form>
</div>