
/* */





/*--------------------------------------------------------------------------
	CAROUSEL 
--------------------------------------------------------------------------*/


#afflanding-carousel .carousel, 
#afflanding-carousel .item, 
#afflanding-carousel .active {
	height: 500px;
}
#afflanding-carousel .carousel {
	margin-bottom: 0;
	color: white;
}
#afflanding-carousel .carousel-caption {
	bottom: 60px;
	text-shadow: 0 1px 2px rgba(0,0,0,0);
	z-index: 10;
}
#afflanding-carousel .carousel .item {
	background-color: white;
}

#afflanding-carousel .carousel .bg {
	background-repeat:no-repeat;
	background-size:cover;
}



#afflanding-carousel .carousel-caption .animated-item-1{
	-webkit-animation: fadeInDown 500ms linear 500ms both;
	-moz-animation: fadeInDown 500ms linear 500ms both;
	-o-animation: fadeInDown 500ms linear 500ms both;
	-ms-animation: fadeInDown 500ms linear 500ms both;
	animation: fadeInDown 500ms linear 500ms both;
} 
#afflanding-carousel .carousel-caption .animated-item-2 {
	-webkit-animation: fadeInUp 300ms linear 600ms both;
	-moz-animation: fadeInUp 300ms linear 600ms both;
	-o-animation: fadeInUp 300ms linear 600ms both;
	-ms-animation: fadeInUp 300ms linear 600ms both;
	animation: fadeInUp 300ms linear 600ms both;
}


/* Overrides */
#afflanding-carousel .carousel-control .icon-prev,
#afflanding-carousel .carousel-control .icon-next,
#afflanding-carousel .carousel-control .glyphicon-chevron-left,
#afflanding-carousel .carousel-control .glyphicon-chevron-right {
	top: 62%;
}

#afflanding-carousel .carousel .carousel-indicators li,
#afflanding-carousel .carousel .carousel-control {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#afflanding-carousel .carousel:hover .carousel-indicators li,
#afflanding-carousel .carousel:hover .carousel-control  {
	opacity: 1;
}
#afflanding-carousel .carousel-control {
	background: rgba(181,30,57, 0.2);
	top: 0;
	bottom: 0;
	width: 100px;
	opacity: 0;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0);
	z-index: 5;

}	
#afflanding-carousel .carousel-control:hover {
	background: rgba(181,30,57, 1);
	opacity: 1;
	filter: alpha(opacity=100);
}
#afflanding-carousel .carousel-control i {
	color: rgba(255,255,255,0.6)
}
#afflanding-carousel .carousel-control:hover i {
	color: rgba(255,255,255,1)
}

#afflanding-carousel .carousel-control.left,
#afflanding-carousel .carousel-control.right {
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
#afflanding-carousel .carousel-control .fa-angle-left,
#afflanding-carousel .carousel-control .fa-angle-right {
	position: absolute;
	top: 58%;
}
#afflanding-carousel .carousel-control .fa-angle-left {
	right: 20px;
}
#afflanding-carousel .carousel-control .fa-angle-right {
	left: 20px;
}
#afflanding-carousel .carousel-indicators li {
	background-color: transparent;
	border: none;
	margin: 0;
	width: 18px;
	height: 18px;
	position: relative;
}
#afflanding-carousel .carousel-indicators .active {	
	background-color: transparent;
	margin: 0;
	width: 18px;
	height: 18px;
}

#afflanding-carousel .carousel-indicators .active span,
#afflanding-carousel .carousel-indicators li span {
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: rgba(181,30,57,0);
	border: 1px solid rgba(255,255,255,1);
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#afflanding-carousel .carousel-indicators li:hover span {	
	background-color: rgba(255,255,255, 1);
}
#afflanding-carousel .carousel-indicators li:focus span,
#afflanding-carousel .carousel-indicators li.active:focus span,
#afflanding-carousel .carousel-indicators li.active span {	
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(255,255,255,1);
	margin: 2px;	
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
}


#afflanding-carousel .item-contents-wrapper {
	position: relative;
	height: inherit;
}
#afflanding-carousel .item-contents-wrapper > div {
	display: inline-block;
}



/* SLIDE 1 */
#afflanding-carousel .item1 {
	background-image:url(/media/affiliates-hero-bg-start-selling.jpg);
	background-position: center top; 
}
#afflanding-carousel .item1 .carousel-text-wrapper {
	text-align: left;
}
#afflanding-carousel .item1 h1 {
	font-weight: 700;
	line-height: 0.9;
	text-transform: uppercase;
	
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
}
#afflanding-carousel .item1 .carousel-text-wrapper {
	margin-top: 130px;
}
#afflanding-carousel .item1 .carousel-text-wrapper span.icon-plus {
	font-size: 24px;
	font-weight: 700;
	margin-right: 10px;
	vertical-align: middle;
}
#afflanding-carousel .item1 .carousel-text-wrapper p {
	font-size: 30px;
	margin-bottom: 0;
}
#afflanding-carousel .item1 .carousel-text-wrapper p.list1 {	
	-webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
#afflanding-carousel .item1 .carousel-text-wrapper p.list2 {	
	-webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
#afflanding-carousel .item1 .carousel-text-wrapper p.list3 {	
	-webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
#afflanding-carousel .item1 .carousel-text-wrapper p.list4 {	
	-webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
#afflanding-carousel .item1 .carousel-text-wrapper p.list5 {	
	-webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
#afflanding-carousel .item1 .carousel-text-wrapper p.list6 {	
	-webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
#afflanding-carousel .item1 .fridge-wrapper {
	position: absolute;
	bottom: -84px;
	left: 40px;
	
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
#afflanding-carousel .item1 .fridge-wrapper .image-wrapper {
	width: 270px;
}
#afflanding-carousel .item1 .athlete-jackie-wrapper {
	position: absolute;
	bottom: 0;
	right: 75px;
	
	-webkit-animation-delay: .7s;
    animation-delay: .7s;
}
#afflanding-carousel .item1 .athlete-jackie-wrapper .image-wrapper {
	width: 305px;
}
#afflanding-carousel .item1 .athlete-jackie-wrapper .text-jackie {
	position: absolute;
	bottom: 0;
	color: black;
	font-size: 16px;
	font-weight: 700;
	margin-left: 64px;
}
#afflanding-carousel .item1 .animated-item1 {
-webkit-animation: fadeInDown 500ms linear 500ms both;
-moz-animation: fadeInDown 500ms linear 500ms both;
-o-animation: fadeInDown 500ms linear 500ms both;
-ms-animation: fadeInDown 500ms linear 500ms both;
animation: fadeInDown 500ms linear 500ms both;
}


/* SLIDE 2 */
#afflanding-carousel .item2 {
	background-image:url(/media/affiliates-hero-boxowners.jpg);
	background-position: center top; 
}
#afflanding-carousel .item2:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	content: " ";
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	opacity: 1;
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 80%);
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
	-webkit-transform: translate3d(0, 60%, 0);
	transform: translate3d(0, 10%, 0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
}
#afflanding-carousel .item2 h1{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;	
	
	-webkit-animation-delay: 1s;
    animation-delay: 1s;
}
#afflanding-carousel .item2 .image-wrapper {
	width: 320px;
}
#afflanding-carousel .item2 .athlete-dan-bailey-polaroid-wrapper {
	position: absolute;
	top: 140px;
	left: 270px;
	
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
#afflanding-carousel .item2 .athlete-tunnicliffe-polaroid-wrapper {
	position: absolute;
	top: 120px;
	right: 150px;
	
	-webkit-animation-delay: .8s;
    animation-delay: .8s;
}


/* SLIDE 3 */
#afflanding-carousel .item3:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	content: "";
	width: 100%;
	height: 100%;
	-webkit-box-shadow:inset 1px 1px 120px 0 rgba(0,0,0,0.3);
	box-shadow:inset 1px 1px 120px 0 rgba(0,0,0,0.3);
}

#afflanding-carousel .item3 p{
	position: absolute;	
	right: 140px;
	bottom: 10px;
	z-index: 2;
	color: black;
	font-size: 26px;
	line-height: 1.3;
	letter-spacing: 1px;
	text-align: left;
	width: 500px;	
	
	-webkit-animation-delay: .8s;
    animation-delay: .8s;
}

#afflanding-carousel .item3 .fitaid-5cans-wrapper {
	position: absolute;	
	top: 145px;
	left: 100px;
	
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
#afflanding-carousel .item3 .fitaid-5cans-wrapper .image-wrapper{
	width: 380px;
}
#afflanding-carousel .item3 .lurong-living-wrapper {
	position: absolute;
	top: 150px;
	right: 320px;
	
	-webkit-animation-delay: .8s;
    animation-delay: .8s;
}
#afflanding-carousel .item3 .lurong-living-wrapper .image-wrapper {
	width: 190px;
}


/* SLIDE 4 */
#afflanding-carousel .item4 {
	background-image:url(/media/affiliates-slide4.jpg);
	background-position: center top; 
}
#afflanding-carousel .item4:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}
#afflanding-carousel .item4 h1{
	position: relative;
	top: 260px;
	max-width: 80%;
	margin: auto;
	font-weight: 700;
	line-height: 0.9;
	text-shadow: 0 0 10px #000000;
	
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}


.affiliates-landing-body-wrapper {
	padding-top: 3em!Important;
}
.affiliates-landing-body-wrapper .copy_content {
	padding-top: 3em;
}
.affiliates-landing-body-wrapper .get-started-wrapper {
	 
}
.affiliates-landing-body-wrapper .easy-reorders-wrapper {
	 
}
.affiliates-landing-body-wrapper a.btn {
	 width: 100%;
	border-radius: 5px;
	font-size: 24px;
	margin-bottom: 15px;
	padding: 14px 40px;
}
.affiliates-landing-body-wrapper .get-started-wrapper p,
.affiliates-landing-body-wrapper .easy-reorders-wrapper p {
	margin: 0 10px 10px;
}




/* ----------------------------------------------------------------------------------------------------
	RESPONSIVE CSS
---------------------------------------------------------------------------------------------------- */


@media (min-width: 1200px) {
	#afflanding-carousel .container {
		width: 1170px!important;
	}
	
	
}

@media (min-width: 992px) and (max-width: 1199px) {

	#afflanding-carousel .item-contents-wrapper {
		width: 100%;
	}
	#afflanding-carousel .item1 .fridge-wrapper {
		left: -10px;
	}
	#afflanding-carousel .item1 .athlete-jackie-wrapper {
		right: 25px;
	}
	
	
#afflanding-carousel .item3 p{
	right: 80px;
}

#afflanding-carousel .item3 .fitaid-5cans-wrapper {
	left: 60px;
}
#afflanding-carousel .item3 .lurong-living-wrapper {
	right: 260px;
}
	
	
	.affiliates-landing-body-wrapper .get-started-wrapper,
	.affiliates-landing-body-wrapper .easy-reorders-wrapper {
		 
	}
	
	
	
}


@media (min-width: 768px) {

	#afflanding-carousel .container {
		width: 100%;
	}
	
}


@media (min-width: 768px) and (max-width: 991px) {
	
	.affiliates-landing-body-wrapper .get-started-wrapper,
	.affiliates-landing-body-wrapper .easy-reorders-wrapper {
		 
	}
	
	#afflanding-carousel .item1 .fridge-wrapper {
		left: -80px;
	}
	#afflanding-carousel .item1 .athlete-jackie-wrapper {
		right: -80px;
	}
	#afflanding-carousel .item1 .carousel-text-wrapper {
		margin-top: 150px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	#afflanding-carousel .item1 .carousel-text-wrapper p {
		font-size: 22px;
	}
	#afflanding-carousel .item2 h1 {
		bottom: 30px;
		font-size: 32px;
	}
	#afflanding-carousel .item2 .athlete-dan-bailey-polaroid-wrapper {
		left: 50px;
	}#afflanding-carousel .item2 .athlete-tunnicliffe-polaroid-wrapper {
		right: 50px;
	}
	#afflanding-carousel .item3 p {
		right: 20px;
		bottom: 20px;
		font-size: 24px;
		line-height: 1.2;
		width: 480px;
	}
	#afflanding-carousel .item3 .fitaid-5cans-wrapper {
		left: -150px;
	}
	#afflanding-carousel .item3 .lurong-living-wrapper {
		top: 160px;
		right: 220px;
	}
	#afflanding-carousel .item4 h1 {top: 240px}
	
}


@media (max-width: 767px) {

	/*	font is tiny in screens below 768,
		fix is to make body font 16px, so font size is normal size in small screen,
		as em, which is used on Special Offers page is dependent on a parent font size
	*/
	.affiliates-landing-body-wrapper{font-size: 16px}

	#afflanding-carousel .carousel-control {
		font-size: 30px;
	}
	#afflanding-carousel .carousel, #afflanding-carousel .item, #afflanding-carousel .active {
		height: 450px;
	}
	#afflanding-carousel .item1 .carousel-text-wrapper {		
		margin-top: 110px;
		margin-left: 30px;
		width: 80%;
	}
	#afflanding-carousel .item1 h1 {
		font-size: 20px;
	}
	#afflanding-carousel .item1 .carousel-text-wrapper p {
		font-size: 15px;
	}
	#afflanding-carousel .item1 .fridge-wrapper {
		bottom: -140px;
		left: -180px;
	}
	#afflanding-carousel .item1 .athlete-jackie-wrapper {
		display: none;
	}
	#afflanding-carousel .item2 h1 {
		bottom: 30px;
		font-size: 24px;
		width: 90%;
		margin: auto;
	}	
	#afflanding-carousel .item2 .athlete-dan-bailey-polaroid-wrapper {
		top: 100px;
		left: 40px;
	}
	#afflanding-carousel .item2 .athlete-tunnicliffe-polaroid-wrapper {
		top: 100px;
		right: 120px;
	}
	
	#afflanding-carousel .item3 p {
		right: 0;
		left: 0;
		bottom: 20px;
		margin: auto;
		font-size: 22px;
		line-height: 1.2;
		width: 90%;
	}
	#afflanding-carousel .item3 .lurong-living-wrapper {
		top: 120px;
		right: 85px;
	}
	#afflanding-carousel .item3 .lurong-living-wrapper .image-wrapper {width: 150px}
	#afflanding-carousel .item3 .fitaid-5cans-wrapper {display: none}

	#afflanding-carousel .item4 h1 {
		top: 160px;
		font-size: 24px;
		line-height: 1.1;
	}
	.affiliates-landing-body-wrapper .get-started-wrapper,
	.affiliates-landing-body-wrapper .easy-reorders-wrapper {
		padding: 0 20px;
	}
}
