

/*--------------------------------------------------------------------------
	Athletes
--------------------------------------------------------------------------*/

/* make image responsive, needs a div wrapper, set width on wrapper */
.taxonomy-athlete-header-wrapper img,
.taxonomy-athlete-body-wrapper img,
.athletes-detail-page img {
	max-width: 100%;
}

.athlete-post-wrapper {
	margin-top: 16px;
}
.athlete-post-wrapper:hover .athlete-post-intro a  {
	color: white;
}

.athlete-post-thumbnail img{width: 100%;}
 
.athlete-post-wrapper .athlete-post-thumbnail img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* For Webkit browsers */
	filter: gray; /* For IE 6 - 9 */
	-webkit-transition: all .5s ease-in-out; /* Fade to color for Chrome and Safari */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}
.athlete-post-wrapper:hover .athlete-post-thumbnail img {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
} 

.athlete-post-wrapper .athlete-post-intro {
	background: #2f2e2e;
	color: white;
	text-align: center;
}
.athlete-post-wrapper .athlete-name,
.athlete-post-wrapper .athlete-region,
.athlete-post-wrapper .athlete-post-intro a {	
	color: #ddd;
	display: inline-block;
	width: 100%;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
    -ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
.athlete-post-wrapper .athlete-post-intro a:hover {
	color: white;
	text-decoration: none;
}
.athlete-post-wrapper .athlete-name {
	font-size: 20px;
	font-family: 'Fjalla One',sans-serif;
	font-weight: normal;
	margin: 0;	
	text-transform: uppercase;
}
.athlete-post-wrapper .athlete-name a {
	padding: 20px 0 5px;
}
.athlete-post-wrapper .athlete-region {
	font-size: 16px;
	margin: 0;	
}
.athlete-post-wrapper .athlete-region a {
	padding: 0 0 15px;
}



/* Athlete Details style */
.athletes-detail-page {margin-top: 16px}

.athletes-detail-page h1,
.athletes-detail-page h2 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}
.athletes-detail-page h1 {
	margin-bottom: 25px;
}
.athletes-detail-page .profile label {
	font-size: 16px;
	font-weight: 700;	
	margin-left: 15px;
	margin-right: 3px;
}
.athletes-detail-page .profile li {
	font-weight: normal;
}
.athletes-detail-page .profile span.icon-cross {
	width: 8px;
	display: inline-block;
	margin: 0 6px 0 0;
	position: relative;
	top: -4px;
}
.athletes-detail-page .profile span.icon-cross:nth-child(2) {
	width: 8px;
	display: inline-block;
	margin:  0 0 0 6px;
	position: relative;
	top: -4px;
}
.athletes-detail-page .row {
	 
}



 
	
	.athlete-post-wrapper .athlete-name {
		font-size: 18px;
	}
	.athletes-detail-page h1 {
		font-size: 30px;
		margin-bottom: 15px;
	}
	.athletes-detail-page h2 {
		font-size: 30px;
	}
	.athletes-detail-page h3 {
		font-size: 20px;
	}
	.athletes-detail-page .profile label {
		font-size: 14px;
		margin-left: 13px;
	}
 
 
 
 
	.profile {
		background: #222;
		padding: 16px;
		color: #FFF;
	}
	.profile h3{
		 
		color: #FFF;
	}
	.profile h5{
		color: #FFF;
	}
	.profile > ul {
		margin:0;
	}
	.profile > ul > h3{

	}
	.profile li{
		list-style: none;
		margin: 0 0 .25em 0;
		font-weight: bold;
	}
	.profile label{
		margin: 0em .5em 0 0;
		font-weight: normal;
	}
	.bio, .videobox{
		background: #DDD;
		padding: 16px;
		margin-top: 32px;
	}

	
	
.followme-socials-wrapper .ul-wrapper h3 {	
	font-family: 'Fjalla One', sans-serif;
}
.followme-socials a {
	display: inline-block;
	background: #afaeae;
	border-radius: 50%;
	color: white;
	font-size: 25px;
	padding: 5px;
	width: 42px;
	height: 42px;	
	
	text-align: center;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.followme-socials a:hover {
	color: white;
}
.followme-socials .socials-instagram:hover {
	background: #6c5245;
}
.followme-socials .socials-twitter:hover {
	background: #39a9e0;
}
.followme-socials .socials-facebook:hover {
	background: #3b5998;
}
.followme-socials .socials-google-plus:hover {
	background: #d14836;
}
.followme-socials .socials-youtube:hover {
	background: #cd332d;
}









@media (max-width: 767px) {
	
 
	
	/* show Stephanie's head on mobile */
	.hero.athletes-hero .wrap {min-height: 80vw}
	.hero.athletes-hero {background-position: center 32px}

	.followme-socials a {
		font-size: 16px;
		width: 30px;
		height: 30px;
	}


}
