.product-default .product_description{height: 4.5em; font-size: 12px; overflow: hidden;}
.product-default{border: 1px solid white; padding: 1em 0; margin-bottom: 4em;}
.product-default:hover{border: 1px solid black;}
.product-default .qty{display: none;}
.product-default select{cursor: pointer;}
.product-default img{margin: 0 0 1em 0;}
.product-default .add-to-cart{text-align: right;}
.product-default h6{height: 2em; text-align: center;}
.product-default .product_options li{margin-top: 1em;}

.fitclub{border: 1px solid black; margin: 0 0 2em 0;}
.fitclub .qty{display: none;}
.fitclub .product_options li{background: #f5f5f5;}
.fitclub .product_options li{margin: 0 0 1em 0;}

.reviews_feature{margin: 2em 0; font-size: 13px; display: block; color: black !important; text-decoration: none !important;}
.reviews_feature b{display: block; }
.reviews_feature .title{ font-size: 14px; font-weight: bold; margin: 0 0 5px 0;}
.reviews_feature .carousel-inner {padding: 0 5em}
.reviews_feature .carousel-control {
	text-shadow: 0 1px 2px rgba(0,0,0,0);
}
.reviews_feature .carousel-control .glyphicon-chevron-right {color: #808282; right: 10%}
.reviews_feature .carousel-control .glyphicon-chevron-left {color: #808282; left: 10%}



/* change Glyphicon arrows into FontAwesome arrows */
.reviews_feature .carousel-control .glyphicon {
	width: 32px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font: normal normal normal 32px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.reviews_feature .carousel-control .glyphicon.glyphicon-chevron-right:before {content: "\f105"}
.reviews_feature .carousel-control .glyphicon.glyphicon-chevron-left:before {content: "\f104"}




.invalid{border: 3px solid #D9534F !important;}
 .validator{position: relative; top: -3px; border-top: 3px solid #D9534F; border-radius: 0 !important;}
/* position supp fact/add-to-cart buttons */

.product-default .product_options li.add-to-cart a.fbox {
	display: inline-block;	
	font-size: 14px;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;	
	vertical-align: middle;
}
.product-default .product_options li.add-to-cart a.fbox img.icon-supp-fact {
	display: block;
	width: 24px;
	height: auto;
	margin: 0 auto 3px;
}
.product-default .product_options li.add-to-cart a.fbox:hover {
	text-decoration: none;
}


/* END position supp fact/add-to-cart buttons */











@media (min-width: 992px) and (max-width: 1199px) {



} 
 
 
@media (min-width: 768px) and (max-width: 991px) {



}
 
@media (max-width: 767px) {

	.reviews_feature .carousel-inner {padding: 0 1.2em}
	.reviews_feature .carousel-control.right {right: -20px}
	.reviews_feature .carousel-control.left {left: -20px}
	
	.reviews_feature .carousel-inner > div > p.title ~ p {	
		display: -webkit-box;
		height: 10vh;
		margin: 0 auto;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
	}
	
}








