#cart_table{font-size: 14px;}
#cart_table h5{font-size: 14px; text-transform: uppercase; font-family: 'Fjalla One', sans-serif;  }
#cart_table .options, .mini-desc{font-size: 13px; color:#999898;}
#cart_table .product_price{font-family: 'Fjalla One', sans-serif; font-size: 17px; }
#cart_table *{vertical-align: middle}
#cart_table .remove_product{font-size: 12px; cursor: pointer;}
#cart_table .qtyfield{width: 4em !important;}
 
 #cart_subtotal{font-size: 14px; font-weight: bold;}
 #cart_subtotal td{border: 0 !important; text-align: right !important;}

 
 .cards li{padding: 0.5em 0;}
 .cards li:last-child{border-bottom: 0;}
 
 
 
/* nov 19, 2014 */

.btn-gray {
	background: #5e6063;
	color: white;
	 
}
.btn-gray.btn:hover, .btn-gray.btn:focus {
	color: white;
}

 
/* Feb 5, 2015 */ 
.coupon-code-notice p {
	text-align: left;
	margin-bottom: 0;
	color: #999898;
}
 
.coupon-code-notice p span.aster {
	font-size: 18px;
	line-height: 1;
	vertical-align: middle;
}


/* Apr 16, 2015 */
.checkout-note {
    color:red;
    font-size:.8em;
}
@media (min-width: 768px) {
    .checkout-note {padding-top: .6em; padding-left: 0;}
}