/*--------------------------------------------------------------------------
	CAROUSEL 
--------------------------------------------------------------------------*/


#fitclub-carousel .carousel, 
#fitclub-carousel .item, 
#fitclub-carousel .active {
	height: 720px;
}
#fitclub-carousel .carousel {
	margin-bottom: 0;
	color: white;
}

#fitclub-carousel .carousel .bg {
	background-repeat:no-repeat;
	background-size:cover;
}


/* Overrides */
#fitclub-carousel .carousel-control .icon-prev,
#fitclub-carousel .carousel-control .icon-next,
#fitclub-carousel .carousel-control .glyphicon-chevron-left,
#fitclub-carousel .carousel-control .glyphicon-chevron-right {
	top: 62%;
}

#fitclub-carousel .carousel .carousel-indicators li,
#fitclub-carousel .carousel .carousel-control {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#fitclub-carousel .carousel:hover .carousel-indicators li,
#fitclub-carousel .carousel:hover .carousel-control  {
	opacity: 1;
}
#fitclub-carousel .carousel-control {
	background: rgba(181,30,57, 0.2);
	top: 0;
	bottom: 0;
	width: 100px;
	opacity: 0;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0);
	z-index: 5;

}	
#fitclub-carousel .carousel-control:hover {
	background: rgba(181,30,57, 1);
	opacity: 1;
	filter: alpha(opacity=100);
}
#fitclub-carousel .carousel-control i {
	color: rgba(255,255,255,0.6)
}
#fitclub-carousel .carousel-control:hover i {
	color: rgba(255,255,255,1)
}

#fitclub-carousel .carousel-control.left,
#fitclub-carousel .carousel-control.right {
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
#fitclub-carousel .carousel-control .fa-angle-left,
#fitclub-carousel .carousel-control .fa-angle-right {
	position: absolute;
	top: 58%;
}
#fitclub-carousel .carousel-control .fa-angle-left {
	right: 20px;
}
#fitclub-carousel .carousel-control .fa-angle-right {
	left: 20px;
}
#fitclub-carousel .carousel-indicators li {
	background-color: transparent;
	border: none;
	margin: 0;
	width: 18px;
	height: 18px;
	position: relative;
}
#fitclub-carousel .carousel-indicators .active {	
	background-color: transparent;
	margin: 0;
	width: 18px;
	height: 18px;
}

#fitclub-carousel .carousel-indicators .active span,
#fitclub-carousel .carousel-indicators li span {
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: rgba(181,30,57,0);
	border: 1px solid rgba(255,255,255,1);
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#fitclub-carousel .carousel-indicators li:hover span {	
	background-color: rgba(255,255,255, 1);
}
#fitclub-carousel .carousel-indicators li:focus span,
#fitclub-carousel .carousel-indicators li.active:focus span,
#fitclub-carousel .carousel-indicators li.active span {	
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(255,255,255,1);
	margin: 2px;	
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
}

#fitclub-carousel .item1 {
	background-image: url(/media/fitclub-slide1b.jpg);
	background-position: center top;	
	background-color: #393e41;
}

#fitclub-carousel .item1 .carousel-text-wrapper {
	margin-top: 220px;
	margin-left: 520px;
	text-align: left;	
}

#fitclub-carousel .item1 .carousel-text-wrapper h1 {
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: 1em;
}
#fitclub-carousel .item1 .carousel-text-wrapper h1 span {
	display: block;	
	font-size: 2em;
	margin-top: -14px;
}
#fitclub-carousel .item1 .carousel-text-wrapper h2 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 1.4em;
}

#fitclub-carousel .item1 .carousel-text-wrapper .list1 {
	-webkit-animation-delay: .8;
	animation-delay: 0.8s;
}
#fitclub-carousel .item1 .carousel-text-wrapper .list2 {
	-webkit-animation-delay: 0.9s;
	animation-delay: .9s;
}
#fitclub-carousel .item1 .carousel-text-wrapper .list3 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

#fitclub-carousel .carousel .item2.bg {
	background-repeat: no-repeat;
	background-size: 110% auto;
}
#fitclub-carousel .item2 {
	background-image: url(/media/fitclub-slide2.jpg);
	background-position: center -27px;
}

#fitclub-carousel .item2 .carousel-text-wrapper {
}

#fitclub-carousel .item2:before {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: " ";
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 40%;
	opacity: 1;
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 1) 80%);
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 100%);
	-webkit-transform: translate3d(0, 60%, 0);
	transform: translate3d(0, 10%, 0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
}
#fitclub-carousel .item2 h1{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
	z-index: 2;
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;	
	text-align: left;	
	margin: auto;
	width: 900px;
	letter-spacing: 1px;

	-webkit-animation-delay: .4s;
    animation-delay: .4s;
}

#fitclub-carousel .item3 {
	background-image: url(/media/fitclub-slide3.jpg);
	background-position: center top;
	background-color: #bb0d16;
}

#fitclub-carousel .item3 .carousel-text-wrapper {
}

#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper {
	position: absolute;
	top: 280px;
	left: 210px;
	
	-webkit-animation-delay: .5s;
    animation-delay: .5s;
}
#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper .image-wrapper {
	width: 300px;
}
#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper {
	position: absolute;
	top: 300px;
	right: 240px;
	
	-webkit-animation-delay: .8s;
    animation-delay: .8s;
}
#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper .image-wrapper {
	width: 450px;
}

#fitclub-carousel .item3 h1{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	z-index: 2;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;	
	text-align: left;	
	margin: auto;
	width: 900px;
	letter-spacing: 1px;

	-webkit-animation-delay: 1s;
    animation-delay: 1s;
}


.fitclub {
	padding: 15px 0;
}


/* right pane */
.fitclub h6 {
	background: #dd1f26;
	color: white;
	font-size: 1.8em;
	margin: 0;
	padding: 20px 40px;
	text-transform: initial;
}
.fitclub li .glyphicon {
	color: #dd1f26;
	font-size: 14px;
}
.fitclub .padded-wrapper {
	padding: 0 40px;
}
.fitclub .p-save {
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.2;
	margin: 20px 0;
}
.fitclub .p-cancel {
	font-weight: 700;
	margin-top: 1em;
}
.fitclub .fitaid-pack-wrapper {
	margin-top: 50px;
}
/* END right pane */

/* left pane */
.fitclub .product_options > li {
	padding: 12px 5px;
}
.fitclub .product_options li h4 {
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}
.fitclub .product_options li.add-to-cart button {
	font-size: 1em;
	letter-spacing: 0.6px;
	margin: 0;
	padding: 22px 55px 18px;
}
.fitclub .auto-free-stickers-shipping {
	padding: 20px 5px;
}
.fitclub .auto-free-stickers-shipping .p-automatically {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;	
	margin-top: 20px;
}
.fitclub .auto-free-stickers-shipping .p-automatically span {
	text-transform: uppercase;
}
.fitclub .product_options li .calendar-wrapper {
	width: 75%;
	margin: 0 auto 10px;
}
.fitclub .auto-free-stickers-shipping .stickers-shipping-image-wrapper > div {
	display: inline-block;
}
.fitclub .auto-free-stickers-shipping .stickers-shipping-image-wrapper .stickers-wrapper {
	width: 48%;
}
.fitclub .auto-free-stickers-shipping .stickers-shipping-image-wrapper .shipping-wrapper {
	width: 40%;
	padding: 0 0 0 20px;
}
.fitclub .product_options li.add-to-cart {
	background: transparent;
}
.fitclub .product_options li.add-to-cart button {
	font-size: 1em;
	letter-spacing: 0.6px;
	margin: 0;
	padding: 22px 55px 18px;
}
/* END left pane */




@media (min-width: 1366px) {
	/*  remedy slide2 image issue (white space above heads) */
	#fitclub-carousel .item2 {
		background-image: url(/media/fitclub-slide2.jpg);
		background-position: center -46px;
	}
}


@media (min-width: 992px) and (max-width: 1199px) {

	#fitclub-carousel .carousel, #fitclub-carousel .item, #fitclub-carousel .active {
		height: 620px;
	}

	#fitclub-carousel .item1 .carousel-text-wrapper {
		margin-top: 200px;
		margin-left: 410px;
		margin-right: 70px;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h1 {
		font-size: 2.2em;
		margin-bottom: 0;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h2 {
		font-size: 1.8em;
		line-height: 1.2;
		margin-bottom: 1.2em;
	}
	#fitclub-carousel .carousel .item2.bg {
		background-repeat: no-repeat;
		background-size: 114% auto;
	}
	#fitclub-carousel .item2 {
		background-image: url(/media/fitclub-slide2.jpg);
		background-position: center top;
	}
	#fitclub-carousel .item2 h1 {
		font-size: 2.2em;
		width: 800px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper {
		top: 230px;
		right: 220px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper {
		top: 240px;
		left: 180px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper .image-wrapper {
		width: 350px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper .image-wrapper {
		width: 200px;
	}
	#fitclub-carousel .item3 h1 {
		bottom: 90px;
		font-size: 2em;
		width: 700px;
	}
	
	
	
}

@media (min-width: 768px) and (max-width: 991px) {

	#fitclub-carousel .carousel, #fitclub-carousel .item, #fitclub-carousel .active {
		height: 450px;
	}
	
	#fitclub-carousel .item1 .carousel-text-wrapper {
		margin-top: 180px;
		margin-left: 320px;
		margin-right: 80px;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h1 {
		line-height: 1.5;
		font-size: 1.8em;
		margin-bottom: .4em;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h1 span {
		font-size: 1.6em;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h2 {
		font-size: 1.3em;
		margin-bottom: 1.2em;
		margin-top: .5em;
	}
	#fitclub-carousel .item2 h1 {
		font-size: 2em;
		width: 640px;
	}
	#fitclub-carousel .carousel .item2.bg {
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	#fitclub-carousel .item2 {
		background-image: url(/media/fitclub-slide2.jpg);
		background-position: center 46px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper {
		top: 180px;
		right: 150px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper {
		top: 180px;
		left: 160px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper .image-wrapper {
		width: 240px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper .image-wrapper {
		width: 140px;
	}
	#fitclub-carousel .item3 h1 {
		bottom: 50px;
		font-size: 2em;
		width: 550px;
	}



}

@media (max-width: 767px) {

	#fitclub-carousel .carousel-control {
		font-size: 20px;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
		right: 20%;
	}
	.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
		left: 20%;
	}
	#fitclub-carousel .carousel .carousel-indicators li, #fitclub-carousel .carousel .carousel-control {
		opacity: 1;
	}
	
	
	#fitclub-carousel .carousel, #fitclub-carousel .item, #fitclub-carousel .active {
		height: 250px;
	}
	
	#fitclub-carousel .fadeInUp, #fitclub-carousel .bounceInUp, #fitclub-carousel .bounceInLeft {
		-webkit-animation-name: none;
		animation-name: none;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper {		
		margin-top: 118px;
		margin-left: 120px;
		margin-right: 20px;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h1 {
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 1em;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h1 span {
		display: inline-block;
		font-size: 1em;
		margin-top: 0;
		margin-left: 4px;
	}
	#fitclub-carousel .carousel .item2.bg {
		background-repeat: no-repeat;
		background-size: 110% auto;
	}	
	#fitclub-carousel .item2 {
		background-image: url(/media/fitclub-slide2.jpg);
		background-position: center 62px;
	}
	#fitclub-carousel .item1 .carousel-text-wrapper h2 {
		font-size: 1em;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: .4em;
		margin-top: 1em;
	}
	#fitclub-carousel .item2 h1 {
		bottom: 0;
		font-size: 1.2em;
		width: 100%;
		padding: 20px;
		letter-spacing: 1px;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}

	#fitclub-carousel .item3 h1 {
		bottom: 0;
		font-size: 1.2em;		
		width: 90%;
		margin: 0 20px;
		padding: 20px;
		letter-spacing: 1px;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}
	#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper .image-wrapper {
			width: 60px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-calendar-wrapper {
		position: absolute;
		top: 130px;
		left: 60px;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}
	#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper .image-wrapper {
		width: 100px;
	}
	#fitclub-carousel .item3 .fitclub-graphic-free-shipping-wrapper {
		top: 130px;
		right: 70px;
	}
	
	.fitclub h6 {
		padding: 10px 20px;
	}
	.fitclub .padded-wrapper {
		padding: 0 20px;
	}
	.fitclub .fitaid-pack-wrapper {
		margin-top: 20px;
	}
	.fitclub .product_options li .image-wrapper,
	.fitclub .product_options li .calendar-wrapper {
		margin-top: 15px;
	}
	.fitclub .product_options li.add-to-cart button {
		font-size: 2em;
		letter-spacing: 0.6px;
		margin: 0;
		padding: 15px 0 12px;
		width: 100%;
	}
	.fitclub .auto-free-stickers-shipping .p-automatically {
		margin-top: 0;
		font-size: 1.4em;
	}

}




