
	/*Footer*/
	#footer{color: #afaeae; padding: 4em 0 0em 0;}
	#sub_footer { position: relative; color: #afaeae; margin: 15px; font-size: 11px;  border-top: 2px solid #d7d7d7;  text-align: center; padding: 2em 0 2em 0;}
	#sub_footer ul{list-style: none;}
	#sub_footer ul li{display: inline; padding: 0em 0.5em;}
	#footer ul{list-style: none; font-family: 'Raleway', sans-serif; font-size: 11px; font-weight: bold;}
	
	#footer ul li{padding-bottom: 0.5em;}	
	
	#enter_to_win .form-group{margin: 0.25em 0;}
	
	
	
 
	#images_stream ul{
		list-style: none; 
		padding: 0;
		max-height: 349vw;
		overflow: hidden;
	}
	 
	#images_stream li{
		padding: 0 !important;
		width: 20%;
		height: 20vw;
		overflow: hidden;
		float: left;
		position: relative;
	}
	
	
	#images_stream li.instagram a,
	#images_stream li.twitter a {	
		color: #434343;
		font-size: 1.2vw;
		text-shadow:1px 1px #efefef;
		text-decoration: none;
	}	
	
	#images_stream li.instagram a,
	#images_stream li.twitter a,
	#images_stream li.instagram a:after,
	#images_stream li.twitter a:after,
	#images_stream li.instagram .comments	{		
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	
	#images_stream li.instagram img{ }
	#images_stream li.instagram .comments {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,0,0,0);
	}
	#images_stream li.instagram .comments p {	
		color: #434343;
		text-shadow:1px 1px #efefef;
		padding: 2vw;		
		
		/* truncate after 8 lines*/
		display: block;
		display: -webkit-box;		
		height: 19vh; /* font-size * line-height * lines to show, play around with values */
		margin: 0 auto;
		font-size: 1.25vw;
		line-height: 1.4;
		-webkit-line-clamp: 7;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
	}
	
	#images_stream li.instagram a:hover,
	#images_stream li.instagram a:hover .comments p {
		color: white;
		text-shadow: 1px 1px #d80000;
	}
	#images_stream li.instagram a:hover .comments{
		opacity: 1;
		background: rgba(255,0,0,0.8);
	}
	
	#images_stream li.instagram a,
	#images_stream li.twitter a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	#images_stream li.twitter{background: #e3e3e3;}
	#images_stream li.twitter p {text-transform: uppercase; font-weight: bold; font-size: 0.9em}
	
	#images_stream li.twitter a {
		padding: 2vw;
	}
	
	#images_stream li.twitter a:hover {
		background: rgba(255,0,0,1);
		color: white;
		text-shadow: 1px 1px #d80000;
	}
	
	/* add Twitter heading */
	#images_stream li.twitter a:before {
		text-shadow:1px 1px transparent!important;
		display: block;		
		content: "TWITTER";		
		margin-bottom: 10px;
	}
	
	/* add twitter/ig icons */
	#images_stream li.instagram a:after,
	#images_stream li.twitter a:after {
		font-family: FontAwesome;
		font-size: 120%;
		text-shadow:1px 1px transparent!important;
		display: block;
		color: white;
		background: gray;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 6%;
		right: 6%;
	}
	#images_stream li.instagram a:after {
		content: "\f16d";		
		padding: 3px 0 0 7px;
	}
	#images_stream li.twitter a:after {
		content: "\f099";		
		padding: 3px 0 0 6px;
	}
	#images_stream li.instagram a:hover::after,
	#images_stream li.twitter a:hover::after {
		color: red;
		background: rgba(255,255,255,0.9);
		right: 45%;
	} 





/* Footer socials, copyright link */

#footer li a {

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#footer li a:hover {
	color: red;
	text-decoration: none;
}

.footer-socials a {
	display: inline-block;
	background: #afaeae;
	border-radius: 50%;
	color: white;
	font-size: 25px;
	padding: 5px;
	width: 42px;
	height: 42px;	
	
	text-align: center;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.footer-socials a:hover {
	color: white;
}
.footer-socials .socials-instagram:hover {
	background: #6c5245;
}
.footer-socials .socials-twitter:hover {
	background: #39a9e0;
}
.footer-socials .socials-facebook:hover {
	background: #3b5998;
}
.footer-socials .socials-google-plus:hover {
	background: #d14836;
}
.footer-socials .socials-youtube:hover {
	background: #cd332d;
}

#sub_footer ul li {
	display: inline-block;
}

.privacy-tos-link {
	font-weight: 700;
	margin-top: 2em;
}
.privacy-tos-link a {
	color: #afaeae;
	padding: 0 .7em;
}
.privacy-tos-link a:hover {
	color: red;
	text-decoration: none;
}


/* ------------------------------------------------------------------------------------------------
	Make enter to win 1 year FA supply form behave as hyperlink 
-------------------------------------------------------------------------------------------------- */

.imitate-fa-year-supply-form-wrapper .a-h5 a,
.imitate-fa-year-supply-form-wrapper .a-h5 a:focus,
.imitate-fa-year-supply-form-wrapper .a-h5 a:hover {
	color: black;
	text-decoration: none;
}

.imitate-fa-year-supply-form-wrapper .row {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 15px;
}

.imitate-fa-year-supply-form-wrapper .col-sm-5 {	
	padding-right: 15px;
	padding-left: 0;
}
.imitate-fa-year-supply-form-wrapper .col-sm-7 {	
	padding-right: 0;
	padding-left: 15px;
}


.imitate-fa-year-supply-form-wrapper .a-button-textfield {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.imitate-fa-year-supply-form-wrapper .a-button-textfield:focus,
.imitate-fa-year-supply-form-wrapper .a-button-textfield:hover {	
	color: #555;
	text-decoration: none;
}

.imitate-fa-year-supply-form-wrapper .a-button-enter-to-win {
	font-family: 'Fjalla One',sans-serif;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	
	border-radius: 3px;
	padding: 0.75em 0;
	
	-webkit-transition: width 2s;
	transition: width 2s;		
	
	background: #e51b24;
	border: 0;
	color: white;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
}

.imitate-fa-year-supply-form-wrapper .a-button-enter-to-win:focus,
.imitate-fa-year-supply-form-wrapper .a-button-enter-to-win:hover {
	color: #fff;
	text-decoration: none;
}


	
@media (min-width: 1200px) {
	 
}


@media (min-width: 992px) and (max-width: 1199px) {	
	
	/* make twitter <a> same height, full width as parent <li> */
	#images_stream li.twitter a {
		position: relative;
		width: 100%;
		height: 20vw;
	}
	#images_stream li.instagram .comments p {height: 15.5vh}
	#images_stream li.instagram a:after {padding: 4px 0 0 9px}
	#images_stream li.twitter a:after {padding: 5px 0 0 8px} 
}


@media (min-width: 768px) and (max-width: 991px) {
	
	
	#images_stream li {
		width: 25%;
		height: 25vw;
	}
	#images_stream li.instagram .comments p {height: 12vh}
	#images_stream li.instagram a:after, #images_stream li.twitter a:after {
		font-size: 140%;
		width: 20px;
		height: 20px;
		bottom: 5px;
		right: 5px;
	}
	
	/* make twitter <a> same height, full width as parent <li> */
	#images_stream li.twitter a {
		position: relative;
		width: 100%;
		height: 25vw;
	}
	#images_stream li.twitter a:after,
	#images_stream li.instagram a:after {padding: 2px 0 0 4px}
	
	#images_stream li.instagram a:hover::after,
	#images_stream li.twitter a:hover::after {right: 6%} 
	
	
	
	
}


@media (max-width: 767px) {
	
	#images_stream li {
		width: 50%;
		height: 50vw;
	}

	#images_stream li.instagram .comments p {
		padding: 4vw;
		height: 18.5vh;
		font-size: 4vw;
		-webkit-line-clamp: 5;
	}
	
	#images_stream li.instagram a, #images_stream li.twitter a {font-size: 3.5vw}
	
	#images_stream li.instagram a:after, #images_stream li.twitter a:after {
		font-size: 14px;
		width: 20px;
		height: 20px;
		bottom: 6px;
		right: 6px;
	}	
	#images_stream li.twitter a:after,
	#images_stream li.instagram a:after {padding: 0 0 0 4px}
	
	#images_stream li.instagram a:hover::after,
	#images_stream li.twitter a:hover::after {right: 40%} 
	
	#images_stream li.twitter a {padding: 4vw}
	
	/* make twitter <a> same height, full width as parent <li> */
	#images_stream li.twitter a {
		position: relative;
		width: 100%;
		height: 50vw;
	}
	#images_stream li.twitter a:after {
		position: absolute;
		bottom: 6px;
		right: 6px;	
	}	
	#images_stream li.instagram a:hover::after,
	#images_stream li.twitter a:hover::after {right: 6px} 
	
	
	
	.imitate-fa-year-supply-form-wrapper .col-sm-5,
	.imitate-fa-year-supply-form-wrapper .col-sm-7 {	
		padding-right: 0;
		padding-left: 0;
	}
	.imitate-fa-year-supply-form-wrapper .a-button-enter-to-win {margin-top: 15px;}
}



