	/*Home Page Styles*/
	
	.carousel-control.left,.carousel-control.right{background: none !important; cursor: pointer;}
	 
	 #slider{box-shadow: 0px 0px 7px #AAA; position: relative; overflow: hidden;}
 

	 .red_block{
	 	cursor: pointer;
	 	width: 100%;
	 	position: relative;
	 	background-repeat: no-repeat;
	 	background-size: contain;
	 	margin-top: 2em;
	 	 }
	 
	 .red_block .content{	
		background-position: 0 0;
	    transition: background-position 0.35s;
	    background-image: linear-gradient(to bottom, #e51b24 51%, transparent 50%);
	    background-size: 100% 200%;
	    background-repeat: no-repeat;
		}

	 .red_block:hover .content{
		background-position: 0 -100%;
		 
	 }
	 
	 .mobilefix .red_block .content{background: #e51b24;}
	 
	 .red_block.block1{
	 	background-image: url(/media/home_block_1.jpg);
	 	}
	
	.red_block.block2{
	 	background-image: url(/media/home_block_2.jpg);
	 	}
	 	
	 .red_block.block3{
	 	background-image: url(/media/home-block-see-fitaid-reviews.jpg);
	 	}
	 
	 .red_block.block4{
	 	background-image: url(/media/home-block-watch-dan-bailey-crush-it.jpg);
	 	}


 	
	 
	 
	 .red_block:before, .block:before{
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/
	 }
	 
	 
	 
	 .content{
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
 
	 }

	 a.content {text-decoration: none !important;}
	 
	 .red_block img{width: 100%;}
	 
	 .red_block h2{
		 margin: 0;
		 padding: 0;
		 height: 100%;
	
 
  
		font-weight: normal; 
		color: white; 
		 
		 
		font-family: 'Fjalla One', sans-serif;  
	 
		text-transform: uppercase;
		
		text-align: center;
		
		

		 
	}
	
	
	#home_graphic{
		background-image: url(/media/home_graphic1-v2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		}
	 
	
	
	
		
	/* vertical and center align */
	.valign {
		margin: auto;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.border-radius-50pct {
		border-radius: 50%;
	}

	/* pulsing Performance/Recovery orbs */
	@-webkit-keyframes pulsate-inner {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.6); }
		to { box-shadow: 0 0 0 10px rgba(255,255,255,0.6); }
	}
	@-moz-keyframes pulsate-inner {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.6); }
		to { box-shadow: 0 0 0 10px rgba(255,255,255,0.6); }
	}
	@-ms-keyframes pulsate-inner {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.6); }
		to { box-shadow: 0 0 0 10px rgba(255,255,255,0.6); }
	}
	@keyframes pulsate-inner {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.6); }
		to { box-shadow: 0 0 0 10px rgba(255,255,255,0.6); }
	}

	@-webkit-keyframes pulsate-outer {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.4); }
		to { box-shadow: 0 0 0 24px rgba(255,255,255,0.4); }
	}
	@-moz-keyframes pulsate-outer {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.4); }
		to { box-shadow: 0 0 0 24px rgba(255,255,255,0.4); }
	}
	@-ms-keyframes pulsate-outer {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.4); }
		to { box-shadow: 0 0 0 24px rgba(255,255,255,0.4); }
	}
	@keyframes pulsate-outer {
		from { box-shadow: 0 0 0 0 rgba(255,255,255,0.4); }
		to { box-shadow: 0 0 0 24px rgba(255,255,255,0.4); }
	}
	
	
	
	
	#performance_intro{
		position: relative;
		padding: 0em 0 2em 0;
	
		background-image: url(/media/performance_back-v2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		
		 
		background-position: center center;
		 
	}
	
	#performance_intro p{
		font-size: 2.75vw;
		padding: 8vw 6vw 7vw 6vw;
		line-height: 5.5vw;
		text-align: justify;
		}
	
	
	#performance{
		min-height: 300px;
		background: red;
		 
		-moz-box-shadow:    inset 0 0px 75px #582C2C;
	   -webkit-box-shadow: inset 0 0px 75px #582C2C;
	   box-shadow:         inset 0 0px 75px #582C2C;
	}
	#performance {position: relative}
	#performance .can-left-wrapper,
	#recovery .can-left-wrapper	{
		width: 45%;
	}
	#performance .performance-list-wrapper,
	#recovery .recovery-list-wrapper	{
		width: 55%;
		padding-left: 0;
		padding-right: 0;
		left: -4.6em;
	}
	#performance ul, #recovery ul { 
		color: white;
		font-weight: bold;
		font-size: 1.3em;
	}
	
	#performance ul li, #recovery ul li{
		margin: -44px 0 16px 0;
	}
	
	#performance ul li span, #recovery ul li span{font-weight: normal; }
	
	#performance h3,
	#recovery h3 {
		color: white;
		margin: 0 0 1em 0;
		font-weight: normal;
		font-size: 2.3em;
	}
	
	#performance h1, #recovery h1{
		font-family: 'Raleway', sans-serif; 
		font-weight: 900; 
		font-size: 10vw;
		color: white; 
		text-align: center; 
		text-transform: uppercase;
		padding: 2vw 0;
	}
	
	#performance .heading-when-it-counts,
	#recovery .heading-when-you-need-it	{
		font-weight: 700;
		margin-top: .1em;
		margin-left: .4em;
		margin-bottom: 1em;
	}
	#performance .performance-icon-wrapper,
	#performance .performance-text,
	#recovery .recovery-icon-wrapper,
	#recovery .recovery-text {
		display:inline-block;
		vertical-align: middle;
	}

	#performance .performance-icon-wrapper,
	#recovery .recovery-icon-wrapper {
		width: 120px;
		height: 120px;
		margin-right: -15px;
		position: relative;
	
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}	
	#performance .performance-icon,
	#recovery .recovery-icon {	
		border: 3px solid #e61922;
		width: 76px;
		height: 76px;
		z-index: 3;
	}	
	
	
	#performance .performance-list-item:hover .pulsate-inner,
	#recovery .recovery-list-item:hover .pulsate-inner	{
		-webkit-animation: pulsate-inner .5s infinite alternate;
		-moz-animation: pulsate-inner .5s infinite alternate;
		-ms-animation: pulsate-inner .5s infinite alternate;
		-animation: puslate-inner .5s infinite alternate;
	}

	#performance .performance-list-item:hover .pulsate-outer,
	#recovery .recovery-list-item:hover .pulsate-outer {
		-webkit-animation: pulsate-outer .5s infinite alternate;
		-moz-animation: pulsate-outer .5s infinite alternate;
		-ms-animation: pulsate-outer .5s infinite alternate;
		-animation: pulsate-outer .5s infinite alternate;
	}

	#performance .border2,
	#recovery .border2 {
		width: 76px;
		height: 76px;
		z-index: 2;
	}

	#performance .border3,
	#recovery .border3  {
		width: 76px;
		height: 76px;
		z-index: 1;
	}


	.scale-color-opaque-white {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(225,0,0,1);
		z-index: 1;
		
		-moz-transition: -moz-transform 0.3s ease;
		-o-transition: -o-transform 0.3s ease;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	
	#performance  .performance-list-item:hover .performance-icon-wrapper,
	#recovery  .recovery-list-item:hover .recovery-icon-wrapper {
		margin-right: 5px;
	}
		
	#recovery {
		min-height: 300px;
		background: #676666;
		-moz-box-shadow:    inset 0 0px 75px black;
		-webkit-box-shadow: inset 0 0px 75px black;
		box-shadow:         inset 0 0px 75px black;
	}
	
	#recovery h1{
		text-align: left;
		padding-left: 6vw;
	}
	
	
	#buynow{
		background: black; 
		color: white; 
		text-align: center; 
		padding: 4em;
	}
	
	#buynow_cans{padding: 0; margin: 0;}
	
	#buynow p{
		margin: 1em 0 0 0;
	}
	
	#testimonials{
		background: url(/media/fitAid-athlete-noah-1920x1280.jpg) center top no-repeat;
		background-size: cover;
		padding: 4em 1em 7em 1em;
		position: relative;
		color: #fff;
	}	
	#testimonials:before {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7)
	
	}
	#testimonials > .container {
		position: relative;
		z-index: 2;
	}	
	#testimonials h3, #testimonials .glyphicon{font-size: 2em; font-weight: normal; margin: 0;}
	#testimonials h3{margin: 1em 0em 0.25em 0em;}
	#testimonials .glyphicon{margin: 0 0 0.5em 0;}
	#testimonials p{font-weight: 300; font-size: 1.75em;}
	
		
	#loveus{background: red; color: white; padding: 0.5em 0;}
	#loveus h4{font-family: 'Fjalla One', sans-serif;  font-weight: normal; font-size: 1.5em; text-align: center; margin-top: 0.65em; }
	
 
.love-us-socials{text-align: center;}
.love-us-socials a { font-size: 1.5em;
	display: inline-block;
	background: white;
	border-radius: 50%;
	color: red;
	font-size: 25px;
	padding: 5px;
	width: 42px;
	height: 42px;
	text-align: center;
	
	margin: 0.25em;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.love-us-socials .socials-instagram:hover {
	color: #6c5245;
}
.love-us-socials .socials-twitter:hover {
	color: #39a9e0;
}
.love-us-socials .socials-facebook:hover {
	color: #3b5998;
}
.love-us-socials .socials-google-plus:hover {
	color: #d14836;
}
.love-us-socials .socials-youtube:hover {
	color: #cd332d;
}



	
	
	 	
	
 
	.made-in-usa-wrapper {width: 86px}
	
	.carousel-indicators{display: none;}
	
	
	
	.reusable-classes .overlay-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.animate-fade-red:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: rgba(225,0,0,0);
		
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	.animate-fade {
		opacity: 0;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	.what-is-fitaid-gray-icons-wrapper ul {
		text-align: center;
	}
	.what-is-fitaid-gray-icons-wrapper li {
		padding-left: 15px;
		padding-right: 15px;	
	}

	.gray-icon-wrapper {
		width: 135px;
		height: 135px;
		background: #808285;
		overflow: hidden;
		position: relative;
		z-index: 3;
		text-align: center;

	}
	.gray-icon-wrapper span {
		display: block;
		color: white;
		font-family: 'Fjalla One', sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 1;
		padding: 0 10px;
		text-transform: uppercase;
	}
	.gray-icon-wrapper .icon-wrapper {
		width: 50px;	
		left: 50%;
		margin-left: -20%;
	}
	.gray-icon-wrapper:hover .animate-fade-red:before {
		background: rgba(225,0,0,1);
	}
	
	.gray-icon-wrapper:hover .animate-fade {opacity: 1}
	
	.gray-icon-wrapper:hover .scale-color-red {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	#performance_intro .take-a-tour {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.container-icon-take-tour{
		width: 100%;
		overflow: visible;
		position: absolute;
		bottom: -20px;
		z-index: 1;
	}
	.icon-take-tour {
		display: block;
		background: #ececec;
		border-radius: 50%;
		width: 70px;
		height: 60px;
		margin: auto;
		text-align: center;
	}
	.icon-take-tour i {
		margin: auto;
		padding-top: 16px;
		font-size: 40px;
	}


	@media (min-width: 1200px) {
	
	
	
	}
	
	
	@media (min-width: 992px) and (max-width: 1199px) {
	
		
		/* remove paddings left and right to increase can image size */
		#performance .container,
		#recovery .container,
		#performance .can-left-wrapper,
		#recovery .can-left-wrapper {
			padding-left: 0;
			padding-right: 0;
		}
		
		#performance .container,
		#recovery .container {width: 100%}
		
		#performance ul,
		#recovery ul {font-size: 1.25em}
		
		#performance ul li,
		#recovery ul li {margin: -30px 0 16px 0}
		
		#performance .can-left-wrapper,
		#recovery .can-left-wrapper {
			width: 45%;
			right: -40px;
		}

		#performance .can-left-wrapper img,
		#recovery .can-left-wrapper img {
			width: 410px;
		}
		#performance .performance-icon-wrapper,
		#recovery .recovery-icon-wrapper {
			width: 90px;
			height: 90px;
			margin-right: -10px;
		}
		#performance .performance-icon,
		#recovery .recovery-icon,
		#performance .border2,
		#recovery .border2,
		#performance .border3,
		#recovery .border3 {
			width: 60px;
			height: 60px;
		}

		.gray-icon-wrapper {
			width: 100px;
			height: 100px;
		}
		.gray-icon-wrapper .icon-wrapper {
			width: 40px;
			left: 48%;
		}
		.gray-icon-wrapper span {
			font-size: 16px;
		}


	} /* END @media (min-width: 992px) and (max-width: 1199px) */

	
	@media (min-width: 768px) and (max-width: 991px) {

		/* disable hover, make text static */
		.what-is-fitaid-gray-icons-wrapper li {
			padding-left: 0;
			padding-right: 0;
		}
		.gray-icon-wrapper {
			width: 100px;
			height: 50px;
			overflow: visible;
			background: transparent;
			margin: auto;
		}
		.gray-icon-wrapper .icon-wrapper {
			width: 30px;
			margin-top: -25px;
			margin-left: -25%;
			left: 50%;
		}
		.gray-icon-wrapper .icon-wrapper:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			z-index: 1;
			background: #808285;
			border-radius: 50%;
		}
		.gray-icon-wrapper .icon-wrapper img {
			position: absolute;
			z-index: 2;
			left: 10px;
			top: 10px;
		}
		
		.gray-icon-wrapper span {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.3;
			text-transform: none;
		}
		.reusable-classes .overlay-wrapper {		
			margin-top: 55px;
		}
		.gray-icon-wrapper .overlay-wrapper .valign {
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
		
		.reusable-classes .overlay-wrapper {
			top: 0;
		}		
		
		.gray-icon-wrapper .animate-fade {opacity: 1}
		.gray-icon-wrapper .animate-fade span {
			top: 0;
			color: black;
			font-family: 'Raleway', sans-serif;
			padding: 0;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transition: none;
			-o-transition: none;
			transition: none;
		}
		.gray-icon-wrapper:hover .animate-fade-red:before {
			background: rgba(225,0,0,0);
		}
		/* END disable hover, make text static */
		
		
		
		#performance_intro .take-a-tour {
			margin-top: 0;
			margin-bottom: 10px;
			padding-top: 100px;
		}

		.love-us-socials li {
			padding-right: 2px;
			padding-left: 2px;
		}
		.love-us-socials a {
			font-size: 18px;
			padding: 5px;
			width: 32px;
			height: 32px;
		}
		
		/* remove paddings left and right to increase can image size */
		#performance .container,
		#recovery .container,
		#performance .can-left-wrapper,
		#recovery .can-left-wrapper {
			padding-left: 0;
			padding-right: 0;
		}
		
		#performance ul,
		#recovery ul {
			font-size: 1.2em;
			line-height: 1.1;
		}
		#performance .performance-list-wrapper,
		#recovery .recovery-list-wrapper {
			left: -2.6em;
		}
		#performance .heading-when-it-counts,
		#recovery .heading-when-you-need-it {
			font-size: 1.8em;
			margin-left: 0;
		}
		
		#performance .performance-icon-wrapper,
		#recovery .recovery-icon-wrapper,
		#performance .performance-icon,
		#recovery .recovery-icon	,
		#performance .border2,
		#recovery .border2		{
			width: 50px;
			height: 50px;
		}
		#performance .border2,
		#recovery .border2 {
			margin: 0;
		}
		
		#performance ul li span.hidden-xs, #recovery ul li span.hidden-xs {display: none}

		#performance .performance-list-item:hover .border2,
		#performance .performance-list-item:hover .border3,
		#recovery .recovery-list-item:hover .border2,
		#recovery .recovery-list-item:hover .border3 {
			opacity: 0;
		}
		#performance ul li,
		#recovery ul li {
			margin-top: -14px;
			margin-bottom: 30px;
		}
		#performance .performance-icon-wrapper,
		#recovery .recovery-icon-wrapper {
			margin-right: 10px;
		}	
		#performance ul li span,
		#recovery ul li span {
			display: block;
		}
		
		
	} /* END @media (min-width: 768px) and (max-width: 991px) */
	
	
	@media (max-width: 767px) {

		

		/* disable hover, make text static */
		.what-is-fitaid-gray-icons-wrapper li {
			padding-left: 0;
			padding-right: 0;
			min-height: 110px;
		}
		.gray-icon-wrapper {
			width: 80px;
			height: 50px;
			overflow: visible;
			background: transparent;
			margin: auto;
		}
		.gray-icon-wrapper .icon-wrapper {
			width: 30px;
			margin-top: -25px;
			margin-left: -25%;
			left: 50%;
		}
		.gray-icon-wrapper .icon-wrapper:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			z-index: 1;
			background: #808285;
			border-radius: 50%;
		}
		.gray-icon-wrapper .icon-wrapper img {
			position: absolute;
			z-index: 2;
			left: 10px;
			top: 10px;
		}
		
		.gray-icon-wrapper span {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.2;
			text-transform: none;
		}
		.reusable-classes .overlay-wrapper {		
			margin-top: 55px;
		}
		.gray-icon-wrapper .overlay-wrapper .valign {
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
		.reusable-classes .overlay-wrapper {		
			margin-top: 60px;
			top: 0;
		}
		.gray-icon-wrapper .animate-fade {opacity: 1}
				
		
		.gray-icon-wrapper .animate-fade span {
			top: 0;
			color: black;
			font-family: 'Raleway', sans-serif;
			padding: 0;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-transition: none;
			-o-transition: none;
			transition: none;
		}
		.gray-icon-wrapper:hover .animate-fade-red:before {
			background: rgba(225,0,0,0);
		}
		/* END disable hover, make text static */
		
		
		
		/* Performance/Recovery sections, disable hover, make text, icons static, centered */
				
		#performance ul,
		#recovery ul {
			font-size: 4vw;
			width: 90%;
			margin: 0 auto 30px;
		}		
		
		#performance .can-left-wrapper,
		#recovery .can-left-wrapper,
		#performance .performance-list-wrapper,
		#recovery .recovery-list-wrapper {
			width: 100%;
		}		
		
		/* reduce can size by increasing padding left,right */
		#performance .can-left-wrapper, #recovery .can-left-wrapper {
			padding-left: 40px;
			padding-right: 40px;			
		}
		
		/* center icons and text */
		#performance .performance-icon-wrapper,
		#performance .performance-text,
		#recovery .recovery-icon-wrapper,
		#recovery .recovery-text {
			display: block;
		}
		#performance .performance-list-item,
		#recovery .recovery-list-item {
			text-align: center;
		}
		
		#performance .performance-list-wrapper,
		#recovery .recovery-list-wrapper {
			left: 0;
		}
		
		#performance .performance-list-item:hover .performance-icon-wrapper,
		#recovery .recovery-list-item:hover .recovery-icon-wrapper {
			margin-right: auto;
		}
		
		#performance .heading-when-it-counts,
		#recovery .heading-when-you-need-it {
			text-align: center;
			font-size: 5.5vw;
		}
		
		#performance h1,
		#recovery h1 {
			padding: 4vw 0 2vw;
		}
		#recovery h1 {text-align: center}
		
		#performance .performance-icon-wrapper,
		#recovery .recovery-icon-wrapper,
		#performance .performance-icon,
		#recovery .recovery-icon	,
		#performance .border2,
		#recovery .border2		{
			width: 50px;
			height: 50px;
		}
		#performance .border2,
		#recovery .border2 {
			margin: 0;
		}
		#performance .performance-list-item:hover .border2,
		#performance .performance-list-item:hover .border3,
		#recovery .recovery-list-item:hover .border2,
		#recovery .recovery-list-item:hover .border3 {
			opacity: 0;
		}
		#performance ul li,
		#recovery ul li {
			margin-top: 0;
		}
		#performance .performance-icon-wrapper,
		#recovery .recovery-icon-wrapper {
			margin-right: auto;
			margin-left: auto;
		}	
		#performance ul li span,
		#recovery ul li span {
			display: block;
		}
		/* END disable hover, make text, icons static, centered */
		
		
		
		.love-us-socials li {
			padding-right: 0;
			padding-left: 0;
		}	
		.love-us-socials a {
			font-size: 16px;
			padding: 4px;
			width: 28px;
			height: 28px;
		}
	}

