/* Import Fontawesome */
	@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

	
/* make image responsive, needs a div wrapper, set width on wrapper */



.ingredient-detail p{margin: 1em 0 3em 0;	text-align: center;}

.ingredients-wrapper a {
		color: black;
}
.ingredients-wrapper a:hover {
	color: red;
	text-decoration: none;
}

.ingredients-wrapper .ingredient-detail a {
	background: url(/media/btn-see-sup-fact.png) center 25px no-repeat;
	background-size: 36px auto;
	display: inline-block;
	min-height: 50px;
	margin-top: 6px;
}

.ingredients-wrapper .ingredient-detail .image-link {
	display: block;
	margin: 4px auto 0;
	width: 32px;
}













/* move to home */

/* reusable classes */.uppercase {
	text-transform: uppercase;
}


