
p.low-inventory-notice {
	border: 1px solid rgba(0,0,0,0.3);
	color: red;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.8px;
	padding: 7px;
}

body.page-template-affiliates-reorders #main-content .copy_content product[data-object="system.products['partyaid-24-pack-wholesale']"] p.low-inventory-notice,
body.page-template-affiliates-reorders #main-content .copy_content product[data-object="system.products['golferaid-24-pack-wholesale']"] p.low-inventory-notice,
body.page-template-affiliates-reorders #main-content .copy_content product[data-object="system.products['partyaid-24-pack-wholesale-autoship']"] p.low-inventory-notice,
body.page-template-affiliates-reorders #main-content .copy_content product[data-object="system.products['golferaid-24-pack-wholesale-autoship']"] p.low-inventory-notice {

	display: none;

}