

.media-assets-wrapper h1{
	font-weight: 700;
	margin-bottom: 5px;
}
.media-assets-wrapper .table>thead>tr>th {
	border-bottom: 1.5px solid #555;
}

.media-assets-wrapper .table>thead>tr>th,
.media-assets-wrapper .table>tbody>tr>th,
.media-assets-wrapper .table>tfoot>tr>th,
.media-assets-wrapper .table>thead>tr>td,
.media-assets-wrapper .table>tbody>tr>td,
.media-assets-wrapper .table>tfoot>tr>td {
	border-top: 1px dashed #555;
	padding: 12px 8px;
}

.media-assets-wrapper .table>tbody>tr:last-child>td {
	border-bottom: 1px dashed #555;
}

.media-assets-wrapper th{font-size: 1.2em}
.media-assets-wrapper td .image-wrapper {
	display: block;	
	margin: auto;
	width: 60px;
	position: relative;
}
.media-assets-wrapper td .image-wrapper:after {	
	position: absolute;
	right: -25px;
	bottom: 0;
	content: "+";
	color: black;
	line-height: 0.9;
	width: 16px;
	height: 16px;
	border: 1px solid black;
}

.media-assets-wrapper .thumb-wrapper,
.media-assets-wrapper .btn-download-wrapper {width: 10%}

.media-assets-wrapper .desc-wrapper {width: 80%}


.media-assets-wrapper .thumb-wrapper,
.media-assets-wrapper .desc-wrapper,
.media-assets-wrapper .btn-download-wrapper {
	text-align: center;	
	vertical-align: middle;
}

.media-assets-wrapper td .btn {
	border-radius: 0;
	padding: 6px 15px;
	font-family: 'Raleway', sans-serif;
}