#formbox{ color: white; background-image: url('/media/promo_JackieLeanBack.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;}
#yonlogo{text-align: center; padding-bottom: 1em;}
#triedbox{ font-size: 16px; text-align: center;  max-width: 600px; margin: auto;  padding:2em 0 2em 0;}

#formbox h1{font-size: 2.5em; text-align: center;} 
#formbox h2{text-align: center;}

 
#start_whats h1{text-align: center;  font-size: 43px;}

.padded{ padding: 3vw 3vw 0 3vw; }

#margins{margin-bottom: 2em; background-image: url(/media/start_margins.jpg); background-size: 169px 204px; background-position: top center; min-height: 204px; background-repeat: no-repeat; border-top: 1px solid white;}
#support{margin-bottom: 2em; background-image: url(/media/start_support.jpg); background-size: 178px 205px; background-position: top center; min-height: 204px; background-repeat: no-repeat;}
#g{margin-bottom: 2em; background-image: url(/media/start_g.jpg); background-size: 205px 206px; background-position: top center; min-height: 204px; background-repeat: no-repeat;}

#review{position: relative; font-size: 16px; background: #f5f5f5; padding: 2em; margin-bottom: 1em; border-radius: 5px;}
#start_bubble{position: absolute; right: -23px; top: 63px;}

#start_reviews{background: #e51b24; color: white;}
#start_reviews h1{font-size: 2.5em; text-align: center;} 

#start_coaches{background-image: url('/media/start_coach.jpg'); padding: 20vw 10vw; background-repeat: no-repeat; background-size: cover; background-position: center center;}
#start_grey{text-align: center; background: url('/media/start_grey.png'); padding: 4vw 5vw;}

#start_footer{background: black;}

.query-already-carry-fitaid span.infusion-option {display:block}

.testimonials {
	position: relative;
	height: 14em;
	z-index: 1;
	margin-top: 2em;
	text-align: center;
}
.testimonials .testimonial:not(.active){
	display: none;
	position: absolute;
	top: 0;
}
.testimonial-nav{
	text-align: center;
		
}
.testimonial-nav.next, .testimonial-nav.prev{
	line-height: 14em;
	vertical-align: middle;
	cursor: pointer;
}