

.refer-your-gym-wrapper-background {
	background: url(/media/refer-your-gym-bg1.jpg) center 65px no-repeat;
	background-size: 1340px auto;
}

.refer-your-gym-wrapper h1{
	font-weight: 700;
	margin-bottom: 20px;
}
.refer-your-gym-wrapper p {margin: 0 0 20px}
.refer-your-gym-wrapper .block-text {display: block;}

.refer-your-gym-wrapper .refer-gym-step {
	background: #e51b24;
	width: 118px;
	height: 118px;
	margin: 40px 0 15px;
	border-radius: 50%;
	overflow: hidden;
	border: 8px solid white;
	position: relative;
	
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

.refer-your-gym-wrapper .refer-gym-step span{
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
}

.refer-your-gym-wrapper .refer-gym-step span + span{
	font-size:  5.2em;
	top: -4px;
}
.refer-your-gym-wrapper .refer-gym-step-heading {
	font-size: 1.2em;
	margin-bottom: 15px;
}
.refer-your-gym-wrapper .form-group {
	max-width: 550px;
}
.refer-your-gym-wrapper .form-control {
	border-radius: 0;
	color: #333;
	padding: 6px 20px;
}

.refer-your-gym-wrapper .form-control::-webkit-input-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}
.refer-your-gym-wrapper .form-control::-moz-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}
.refer-your-gym-wrapper .form-control:-moz-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}
.refer-your-gym-wrapper .form-control:-ms-input-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}

.refer-your-gym-wrapper .last-step-wrapper {
	margin: 40px 0 15px;
	position: relative;
}

.refer-your-gym-wrapper .last-step-wrapper .refer-gym-step,
.refer-your-gym-wrapper .last-step-wrapper button {display: inline-block}

.refer-your-gym-wrapper .last-step-wrapper .refer-gym-step {
	margin: 0;
}

.refer-your-gym-wrapper .last-step-wrapper .btn-default {
	font-size: 2em;
	padding: 14px 30px;
}

/* vertical center button along step 3 */
.refer-your-gym-wrapper .last-step-wrapper .btn-default {
	position: absolute;
	left: 140px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* CSS STYLED <SELECT> box */

.refer-your-gym-wrapper .select-box-wrapper {
	margin: 20px 0 30px 0;
}

.refer-your-gym-wrapper .select-box-wrapper p {margin: 0 0 10px 20px}

.refer-your-gym-wrapper .select-box-wrapper select {
    display: inline-block;
    background: #868686;
    border: none;
    color: #fff;
    cursor: pointer;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	margin: 0;
	min-width: 180px;
	padding: 24px 15px;
    outline: none;
	
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;	
	
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Targeting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .refer-your-gym-wrapper .select-box-wrapper select {padding-right:18px}
}

.refer-your-gym-wrapper .select-box-wrapper label {position:relative}
.refer-your-gym-wrapper .select-box-wrapper label:after {
    content: "\f0d7";
    color: #fff;
    font: normal normal normal 20px/1 FontAwesome;
	position: absolute;
	right: 10px;
	top: 27px;
	pointer-events: none;
}
/* END select box */










@media (max-width: 767px) {
	
	/*	font is tiny in screens below 768,
		fix is to make body font 16px, so font size is normal size in small screen,
		as em, which is used on Special Offers page is dependent on a parent font size
	*/
	.refer-your-gym-wrapper {font-size: 16px}

	.refer-your-gym-wrapper .form-control {	
		font-size: 16px;
	}


}




















