

.sidebar-bricks-wrapper {
	margin-top: 70px;
}

.sidebar-bricks-wrapper li a {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}

.sidebar-bricks-wrapper li {
	margin-bottom: 10px;
}

.sidebar-bricks-wrapper li a h1{
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 2;
	
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 35px;
	text-align: center;	
	
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sidebar-bricks-wrapper li a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 1;
	
	background-position: 0 0;
	background-image: linear-gradient(to bottom, #e51b24 51%, transparent 50%);
	background-size: 100% 200%;
	background-repeat: no-repeat;

	-webkit-transition: background-position 0.35s;
	-moz-transition: background-position 0.35s;
	-o-transition: background-position 0.35s;
	-ms-transition: background-position 0.35s;
	transition: background-position 0.35s;
}


.sidebar-bricks-wrapper li a:hover::before {
	background-position: 0 -100%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.sidebar-bricks-wrapper {
		margin-top: 40px;
	}

}

@media (max-width: 767px) {
	
	.sidebar-bricks-wrapper li {
		max-width: 320px;
	}
	.sidebar-bricks-wrapper {
		margin-top: 40px;
	}

}