



body.page .pulldown-buy-fitaid-wrapper-not-homepage,
body.archive .pulldown-buy-fitaid-wrapper-not-homepage {display: block}

body.home.page .pulldown-buy-fitaid-wrapper {display: block}
body.home.page .pulldown-buy-fitaid-wrapper-not-homepage {display: none}

body.page-template-buy-php .pulldown-buy-fitaid-wrapper,
body.page-template-apo-php .pulldown-buy-fitaid-wrapper-not-homepage,
body.page-template-buy-php .pulldown-buy-fitaid-wrapper-not-homepage {display: none}

body.page-template-buy-php .pulldown-free-shipping-wrapper {display: block}


/* hide on /fitclub page */
body.page-template-fitclub-php .pulldown-buy-fitaid-wrapper,
body.page-template-fitclub-php .pulldown-buy-fitaid-wrapper-not-homepage {display: none}

/* hide on /facebook page */
body.page-template-landing-page-facebook-php .pulldown-buy-fitaid-wrapper,
body.page-template-landing-page-facebook-php .pulldown-buy-fitaid-wrapper-not-homepage {display: none}
  
/* hide on /specialoffers page */
body.page-template-special-offers-php .pulldown-buy-fitaid-wrapper,
body.page-template-special-offers-php .pulldown-buy-fitaid-wrapper-not-homepage {display: none}
  
/* hide on /fitaidvip page */
body.page-template-landing-page-fitclubvip-php .pulldown-buy-fitaid-wrapper,
body.page-template-landing-page-fitclubvip-php .pulldown-buy-fitaid-wrapper-not-homepage {display: none}

/* hide on /2freecans page */
body.page-template-landing-page-2freecans-php .pulldown-buy-fitaid-wrapper,
body.page-template-landing-page-2freecans-php .pulldown-buy-fitaid-wrapper-not-homepage {display: none}





  
/* --------------------------------------------------------------------
	SLIDE OUT "Buy FitAID" all pages except Buy page
-------------------------------------------------------------------- */
.pulldown-buy-fitaid-wrapper {
  display: none;
  position: absolute;
  bottom: -20%; 
  left: -50%;
  overflow: hidden;
  z-index: 4;
  opacity: 0;
  -webkit-transition: bottom 700ms ease-in-out;
  -moz-transition: bottom 700ms ease-in-out;
  -o-transition: bottom 700ms ease-in-out;
  -ms-transition: bottom 700ms ease-in-out;
  transition: bottom 700ms ease-in-out; 
}

.pulldown-buy-fitaid-wrapper-not-homepage {
  display: none;
  position: absolute;
  bottom: -20%;  
  left: -50%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
	
  -webkit-transition: bottom 700ms ease-in-out;
  -moz-transition: bottom 700ms ease-in-out;
  -o-transition: bottom 700ms ease-in-out;
  -ms-transition: bottom 700ms ease-in-out;
  transition: bottom 700ms ease-in-out; 
}

.pulldown-buy-fitaid {
  position: relative;
  width: 235px;
  height: auto;
}
  
  .pulldown-buy-fitaid div.btn-close-pulldown-buy-not-homepage {
    cursor: pointer; 	
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 2px;
	right: 6px;
   }  
  .pulldown-buy-fitaid a.btn-click-here {    
	display: block;		
	width: 90px;
	height: 85px;
	position: absolute;
	bottom: 18px;
	left: 93px;
    }
	
.pulldown-buy-fitaid-wrapper.pull-down,
.pulldown-buy-fitaid-wrapper-not-homepage.pull-down { 
	bottom: 0;
	left: 0;
	opacity: 1;
	position: fixed;
}
  
.pulldown-buy-fitaid-wrapper.pull-down.remove-pulldown,	
.pulldown-buy-fitaid-wrapper-not-homepage.pull-down.remove-pulldown {display: none!important}


  .btn-close-pulldown-buy-homepage {
	position: absolute;
	bottom: 1px;
	right: 5px;
	cursor: pointer;
	width: 30px;
	height: 30px;
}
  
  
  
  
/* --------------------------------------------------------------------
	SLIDE OUT "Free Shipping/Gears" Buy Page
-------------------------------------------------------------------- */
.pulldown-free-shipping-wrapper {
  display: none;
  position: absolute;
  bottom: -20%;  
  left: -50%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  -webkit-transition: bottom 700ms ease-in-out;
  -moz-transition: bottom 700ms ease-in-out;
  -o-transition: bottom 700ms ease-in-out;
  -ms-transition: bottom 700ms ease-in-out;
  transition: bottom 700ms ease-in-out; 
}

.pulldown-free-shipping {
  position: relative;
  width: 190px;
  height: auto;
}
  
  .pulldown-free-shipping div.btn-close-pulldown {
    cursor: pointer; 
	width: 24px;
	height: 24px;
	position: absolute;
	top: 30px;
	right: 1px; 
  }
  .pulldown-free-shipping a.btn-see-how {    
	display: block;	
	width: 150px;
	height: 110px;
	position: absolute;
	bottom: 18px;
	left: 20px; 
  }
.pulldown-free-shipping-wrapper.pull-down {
	bottom: 0; 
	left: 50px;
	opacity: 1;
	position: fixed;
}
  
.pulldown-free-shipping-wrapper.pull-down.remove-pulldown {display: none}


  

@media (max-width: 767px) {
	
	 .pulldown-buy-fitaid-wrapper.pull-down, .pulldown-buy-fitaid-wrapper-not-homepage.pull-down {
		bottom: 10px;
		left: 10px;
		overflow: visible;
	}
	.pulldown-buy-fitaid {
		width: 100px;
		min-height: 36px;
	}
	.pulldown-buy-fitaid > img{
		display: none;
	}
	.pulldown-buy-fitaid a.btn-click-here {
		display: block;
		color: white;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}   
	.pulldown-buy-fitaid a.btn-click-here:before {		
		position: absolute;
		content: "BUY FITAID";
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		background: #d30019;		
		
		font-family: 'Fjalla One',sans-serif;
		font-size: 16px;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
		border-radius: 3px;
		padding: 5px 10px 2px 0;
	} 
	.pulldown-buy-fitaid div.btn-close-pulldown-buy-homepage,
	.pulldown-buy-fitaid div.btn-close-pulldown-buy-not-homepage {
		cursor: pointer;
		width: 30px;
		height: 30px;
		position: absolute;		
		z-index: 1;
		top: -17px;
		right: -20px;
	}
	.pulldown-buy-fitaid div.btn-close-pulldown-buy-homepage:before,
	.pulldown-buy-fitaid div.btn-close-pulldown-buy-not-homepage:before {		
		position: absolute;		
		content: "\f00d";
		font: normal normal normal 22px/1 FontAwesome;
		text-align: center;
		padding: 3px 0 0 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: red;
		background: white;
		border-radius: 50%;
		border: 1px solid black;
	}	
		
		

}  
 
  