

.special-offers-wrapper-background {
	background: url(/media/special-offers-bg.jpg) center 64px no-repeat;
	background-size: 1340px auto;
}

/* move content below header */
.special-offers-wrapper > .row:first-child {
	margin-top: 150px;
}

.special-offers-wrapper h1 {
	font-size: 2.4em;
	font-weight: 700;
	line-height: 1.6;
	margin: 0 120px 20px;
	text-align: center;
}
.special-offers-wrapper h1 small {
	color: #333;
	display: block;
	font-weight: 700;
	line-height: 1.5;
}

.special-offers-wrapper .get-your-promotion-wrapper {
	margin: 0 auto 40px;
	padding: 22px;
	max-width: 700px;
	background: #f4f4f4;
	border: 1px solid #a2a2a2;
	border-radius: 5px;
}


.special-offers-wrapper .get-your-promotion-wrapper .get-started {
	float: left;
	width: 50%;
}
.special-offers-wrapper .get-your-promotion-wrapper .get-started h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 15px;
}
.special-offers-wrapper .get-your-promotion-wrapper .get-started .form-control {
	border-radius: 0;
	color: #333;
	padding: 6px 20px;
}

.special-offers-wrapper .get-your-promotion-wrapper .form-control::-webkit-input-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}
.special-offers-wrapper .get-your-promotion-wrapper .form-control::-moz-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}
.special-offers-wrapper .get-your-promotion-wrapper .form-control:-moz-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}
.special-offers-wrapper .get-your-promotion-wrapper .form-control:-ms-input-placeholder {
    color: #a5a5a5;
	text-transform: uppercase;
}

.special-offers-wrapper .get-your-promotion-wrapper .btn-default {
	font-size: 1.8em;
	padding: 16px 0;
	width: 100%;
}


.special-offers-wrapper .get-your-promotion-wrapper .lurong {
	float: right;
	width: 50%;
}
.special-offers-wrapper .get-your-promotion-wrapper .lurong .image-wrapper {	
	position: relative;
	left: 25px;
	bottom: -45px;
	margin: auto;
	width: 240px;
}

.special-offers-wrapper p.fitaid-is{line-height: 1.9;}











@media (max-width: 767px) {

	/*	font is tiny in screens below 768,
		fix is to make body font 16px, so font size is normal size in small screen,
		as em, which is used on Special Offers page is dependent on a parent font size
	*/
	.special-offers-wrapper {font-size: 16px}

	.special-offers-wrapper > .row:first-child {
		margin-top: 120px;
	}
	.special-offers-wrapper .form-control {	
		font-size: 16px;
	}
	
	.special-offers-wrapper h1 {
		font-size: 2.2em;
		line-height: 1;
		margin: 0 0 20px;
		text-align: center;
	}
	.special-offers-wrapper h1 small {
		line-height: 1.2;
		margin: 15px 0 25px;
	}
	
	.special-offers-wrapper .get-your-promotion-wrapper .get-started,
	.special-offers-wrapper .get-your-promotion-wrapper .lurong {
		float: none;
		width: 100%;
	}
	.special-offers-wrapper .get-your-promotion-wrapper .btn-default {
		font-size: 1.6em;
	}
	.special-offers-wrapper .get-your-promotion-wrapper .lurong .image-wrapper {
		position: relative;
		left: 0;
		bottom: 0;
		margin: 30px auto 0;
		width: 220px;
	}
	
}