
.subpage-wrapper h1{
	font-weight: 700;
	margin-bottom: 20px;
}



@media (max-width: 767px) {
	
	/*	font is tiny in screens below 768,
		fix is to make body font 16px, so font size is normal size in small screen,
		as em, which is used on Special Offers page is dependent on a parent font size
	*/
	.subpage-wrapper {font-size: 16px}



}