	
	
.mobile-only {
		display: none!important;
	}
	
.raleway-asterisk {font-size: 24px}


.twofreecans-landing-wrapper {
	color: black;
}

.twofreecans-landing-wrapper .content-left-wrapper {
	width: 62%;
}
.twofreecans-landing-wrapper .content-right-wrapper {
	width: 38%;
	padding-right: 0;
	padding-left: 0;
}

.twofreecans-landing-wrapper h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 4em;
	font-weight: normal;
	text-transform: uppercase;
}

.big-red-text {
	color: red;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

.twofreecans-landing-wrapper h1 .big-red-text {	
	font-size: 1.6em;
}

.twofreecans-landing-wrapper p {
	font-size: 1.2em;
	margin: 0 0 15px;
}

/* countdown iframe */
.twofreecans-landing-wrapper iframe{
	width: 64%;
}
/* END countdown iframe */



.twofreecans-landing-wrapper .twofreecans-content {
	background: url(/media/2freecans-jackie-perez.jpg) no-repeat top right;	
	background-size: 450px auto;
}


.twofreecans-landing-wrapper img.feature-image {
	width: 220px;
	float: left;
	margin: 0 20px 0 0;
}

.twofreecans-landing-wrapper .btn-default {
	border-radius: 6px;
	display: block;
	font-size: 3em;
	font-weight: normal;
	margin: 60px 0;
	padding: 10px 0 5px;
	width: 95%;
}


.twofreecans-landing-wrapper  a.fbox {
	display: inline-block;
	width: 47%;
	color: black;
	font-size: 1.1em;
	font-weight: 700;
}
.twofreecans-landing-wrapper  a.fbox img {
	-webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
	margin-top: 8px;
}
.twofreecans-landing-wrapper  a.fbox:hover {
	text-decoration: none
}

.twofreecans-landing-wrapper  a.fbox ~ a.fbox {
	margin-left: 25px;
}


.twofreecans-landing-wrapper .row.testimonials{
	margin-top: 30px;
}

.twofreecans-landing-wrapper .testimonials p {
	font-size: 2.3em;
	font-weight: 300;
	color: black;
	line-height: 1.1;
}
.twofreecans-landing-wrapper .testimonials h3 {
	font-weight: 500;
	font-size: 2.4em;
	margin-top: 40px;
}
.twofreecans-landing-wrapper .testimonials .glyphicon {
	color: #959595;
	font-size: 2.4em;	
	margin: 8px 0 12px 0;
}

/* icon quote background */
.twofreecans-landing-wrapper .testimonials span.icon-open-quote {
	display: inline-block;
	float: left;
	margin: 8px 6px 0 0;
	background: url(/media/icon-open-quote-black.png) top left no-repeat;
	background-size: 46px auto;
	width: 46px;
	height: 30px;
}






@media (min-width: 992px) and (max-width: 1199px) {

	.twofreecans-landing-wrapper .twofreecans-content {
		background: url(/media/2freecans-jackie-perez.jpg) no-repeat top right;
		background-size: 390px auto;
	}

	.twofreecans-landing-wrapper .btn-default {
		font-size: 2.4em;
		margin: 40px 0;
	}
	.twofreecans-landing-wrapper iframe {
		margin: 20px 0 10px;
	}
	.twofreecans-landing-wrapper  a.fbox {font-size: 1em}
	
}


@media (min-width: 768px) and (max-width: 991px) {

	.twofreecans-landing-wrapper .twofreecans-content {
		background: none;
		background-size: 0 0;
	}

	.twofreecans-landing-wrapper .content-left-wrapper {
		width: 100%;
	}
	.twofreecans-landing-wrapper iframe {
		width: 100%;
		margin: 10px 0 0 0;
	}

	.twofreecans-landing-wrapper .btn-default {
		margin: 40px auto;
	}
	
	.twofreecans-landing-wrapper .content-right-wrapper {
		display: none;
	}

	.twofreecans-landing-wrapper .testimonials span.icon-open-quote {
		margin: 5px 6px 0 0;
		background: url(/media/icon-open-quote-black.png) top left no-repeat;
		background-size: 38px auto;
		width: 38px;
		height: 26px;
	}
	
}

@media (max-width: 768px) {	
	.mobile-only {
		display: block!important;
	}
}


@media (max-width: 767px) {

	.btn-2freecans-mobile {
		margin: 10px 0!important;
	}
	.twofreecans-landing-wrapper .twofreecans-content {
		background: none;
		background-size: 0 0;
	}
	.twofreecans-landing-wrapper .content-left-wrapper {
		width: 100%;		
		margin-top: 15px;
	}
	
	.twofreecans-landing-wrapper p {
		font-size: 1.4em;
	}

	.twofreecans-landing-wrapper img.feature-image {
		width: 120px;
		float: left;
		margin: 0 10px 0 0;
	}
	.twofreecans-landing-wrapper .btn-default {
		margin: 40px auto;
	}
	
	.twofreecans-landing-wrapper .btn-default {
		border-radius: 4px;
		display: block;
		font-size: 2em;
		font-weight: normal;
		margin: 20px 0 30px;
		padding: 10px 0 5px;
		width: 100%;
	}
	.twofreecans-landing-wrapper a.fbox {
		display: block;
		width: 90%;
		margin: 10px auto 30px;
		text-align: center;
	}
	.twofreecans-landing-wrapper a.fbox ~ a.fbox {
		margin-left: auto;
	}
	.twofreecans-landing-wrapper .content-right-wrapper {
		display: none;
	}
	
	.twofreecans-landing-wrapper .row.testimonials {
		margin-top: 0;
	}
	.twofreecans-landing-wrapper .testimonials h3 {
		margin-top: 30px;
	}
	.twofreecans-landing-wrapper .testimonials span.icon-open-quote {
		margin: 5px 6px 0 0;
		background: url(/media/icon-open-quote-black.png) top left no-repeat;
		background-size: 26px auto;
		width: 26px;
		height: 18px;
	}

}