/* hide */
    #top_black, #nav, #footer, #sub_footer .footer-socials, #sub_footer img, .pull-down, .zopim {
        display: none ! important;
    }
    #sub_footer {
        border: none;
        margin-top: 0;
        padding-top: 0;
        margin-right: -15px;
        margin-left: -15px;
    }
/* end hide */

.twofreecans-landing-wrapper-v3 .clear {
    clear: both;
}
.twofreecans-landing-wrapper-v3 .container {
    overflow: visible;
}
.twofreecans-landing-wrapper-v3 h1, .twofreecans-landing-wrapper-v3 h2, .twofreecans-landing-wrapper-v3 h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

/* top */
    .twofreecans-landing-wrapper-v3 .featured-image {
        position: fixed;
        z-index: -1;
        width: 100%;
    }
    .twofreecans-landing-wrapper-v3 .title {
        text-align: center;
    }
    .twofreecans-landing-wrapper-v3 .title h1 {
        font-size: 3em; font-size: 10vw; 
        text-transform: uppercase;
        line-height: normal;
        color: #fff;
        background: #e51b24;
        padding: 0 2%;
        display: inline;
    }
    .twofreecans-landing-wrapper-v3 .cta {
        text-align: center;
    }
    .twofreecans-landing-wrapper-v3 .cta button {
        font-size: 2em;
    }
    .twofreecans-landing-wrapper-v3 .cta-1 {
        margin-top: 22%;
    }
    .twofreecans-landing-wrapper-v3 .cta-1 button {
        padding: 1% 9% 0.5%;
    }
    .twofreecans-landing-wrapper-v3 .cans {
        position: absolute;
        top: 57%;
        left: 5.5%;
        width: 20%;
    }
/* end top */

.twofreecans-landing-wrapper-v3 .seals-text {
    display: inline;
    margin: 0;
    line-height: normal;
    vertical-align: middle;
    font-size: .8em;
    color: #000;
}
.twofreecans-landing-wrapper-v3 .seals {
    width: 20%;
}
.twofreecans-landing-wrapper-v3 .seals-text,.twofreecans-landing-wrapper-v3 .seals {
    margin: 0 .2%;
}
.twofreecans-landing-wrapper-v3 .mid .seals-container {
    text-align: center;
}

/* testimonials */
    .twofreecans-landing-wrapper-v3 .testimonials {
        position: relative;
        color: #666;
        font-size: 1.2em;
        text-align: right;
    }
    .twofreecans-landing-wrapper-v3 .testimonial {
        display: none;
        width: 72%;
        height: 18em;
        float: right;
        padding-right: 4%;
    }
    .twofreecans-landing-wrapper-v3 .testimonial.active {
        display: block;
    }
    .twofreecans-landing-wrapper-v3 .testimonial p:last-of-type {
        display: inline;
        color: #000;
    }
    .twofreecans-landing-wrapper-v3 .testimonial-title {
        color: #000;
    }
    .twofreecans-landing-wrapper-v3 .testimonial-nav {
        font-weight: bold;
        color: #000;
        margin-right: 13%;
    }
    .twofreecans-landing-wrapper-v3 .testimonial-nav span {
        cursor: pointer;
    }
    .twofreecans-landing-wrapper-v3 .testimonial-nav .prev {
        margin-right: 2%;
    }
/* end testimonials */

.twofreecans-landing-wrapper-v3 .mid {
    background: #fff;
    margin-top: 6.5%;
    padding-bottom: 7%;
}
.twofreecans-landing-wrapper-v3 .left {
    float: left;
    text-align: justify;
}
.twofreecans-landing-wrapper-v3 .left h2 {
    color: #e51b24;
    font-size: 2em;
    font-weight: normal;
    margin: 5% 0 0;
}
.twofreecans-landing-wrapper-v3 .left p {
    font-size: 1.3em;
}
.twofreecans-landing-wrapper-v3 .right {
    float: right;
    width: 23%;
    margin: 7% 4% 0 0;
    display: none;
}
.twofreecans-landing-wrapper-v3 .right h2 {
    margin: 5% 0 10%;
    font-size: 1.5em;
    color: #e51b24;
}

/* bottom */
    .twofreecans-landing-wrapper-v3 .bot {
        background: #000;
        padding-bottom: 5%;
    }
    .twofreecans-landing-wrapper-v3 .cta-2 {
        margin-top: -4%;
    }
    .twofreecans-landing-wrapper-v3 .cta-2 button {
        padding: 1% 2% 0.5%;
    }
    .twofreecans-landing-wrapper-v3 .perks {
        text-align: center;
    }
    .twofreecans-landing-wrapper-v3 .perks div {
        vertical-align: top;
        width: 22%;
        font-size: 0.6em;
        text-align: left;
        margin: 3% auto 0;
        display: inline-block;
    }
    .twofreecans-landing-wrapper-v3 .perks div.perk-spacer {
        width: 5%;
    }
    .twofreecans-landing-wrapper-v3 .perks img {
        float: left;
        width: 25%;
        margin-right: 2%;
    }
    .twofreecans-landing-wrapper-v3 .perks span {
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        font-weight: bold;
    }
/* end bottom */

.twofreecans-landing-wrapper-v3 .fin {
    background: #fff;
    text-align: center;
}
.twofreecans-landing-wrapper-v3 .final-cans {
    width: 40%;
    margin-top: -3%;
}


@media(min-width:480px){
    .twofreecans-landing-wrapper-v3 .title h1 {font-size: 4.5em; font-size: 10vw;}
    .twofreecans-landing-wrapper-v3 .cta button {font-size: 2.5em;}
    .twofreecans-landing-wrapper-v3 .testimonial {height: 11em;}
    .twofreecans-landing-wrapper-v3 .perks div {font-size: 0.9em;}
    .twofreecans-landing-wrapper-v3 .perks span {padding-top:2%;}
    .twofreecans-landing-wrapper-v3 .final-cans {margin-top: -4%;}
    .twofreecans-landing-wrapper-v3 .links span {display: inline;}
}
@media(min-width:768px){
    .twofreecans-landing-wrapper-v3 .title h1 {font-size: 5em;}
    .twofreecans-landing-wrapper-v3 .cta button {font-size: 3em;}
    .twofreecans-landing-wrapper-v3 .mid {margin-top: 5%;}
    .twofreecans-landing-wrapper-v3 .left {width: 65%;}
    .twofreecans-landing-wrapper-v3 .right {display: block;}
    .twofreecans-landing-wrapper-v3 .perks div {font-size: 1em;}
    .twofreecans-landing-wrapper-v3 .perks div.perk-spacer {width: 10%;}
    .twofreecans-landing-wrapper-v3 .perks span {padding-top:0;}
    .twofreecans-landing-wrapper-v3 .final-cans {margin-top: -7%;}
}
@media(min-width:992px){
    .twofreecans-landing-wrapper-v3 .title h1 {font-size: 5.5em;}
    .twofreecans-landing-wrapper-v3 .cans {width: 22%;}
    .twofreecans-landing-wrapper-v3 .mid {margin-top: 6%;}
    .twofreecans-landing-wrapper-v3 .testimonial {height: 9em;}
    .twofreecans-landing-wrapper-v3 .bot {padding-bottom: 2%;}
    .twofreecans-landing-wrapper-v3 .perks div.perk-spacer {width: 25%;}
    .twofreecans-landing-wrapper-v3 .perks div {width: 18%;}
    .twofreecans-landing-wrapper-v3 .final-cans {margin-top: -14%;}
}
@media(min-width:1200px){
    .twofreecans-landing-wrapper-v3 .title h1 {font-size: 6.5em;}
    .twofreecans-landing-wrapper-v3 .mid {margin-top: 6.5%;}
    .twofreecans-landing-wrapper-v3 .perks div {font-size: 1.1em;}
}
@media(min-width:1800px){
    .twofreecans-landing-wrapper-v3 .cans {top: 70%;}
    .twofreecans-landing-wrapper-v3 .testimonial {height: 8em;}
}