	
	
	
.raleway-asterisk {font-size: 24px}




/* --------------------------------------------------------
	BACKGROUND JACKIE
-------------------------------------------------------- */
.background-jackie-wrapper {	
	position: relative;
}
.background-jackie {	
	background: url(/media/2freecans-v2-jackie-png.png) no-repeat right bottom;
	background-size: 32%;
		
	position: absolute;
	bottom: 0;
	right: 11%;

	width: 100%;
	height: 100%;
}

@media (width: 768px) {

	.background-jackie {	
		display:none;
	}

}
@media (min-width: 1366px) {

	
	.background-jackie {	
		background-size: 30%;
		right: 14%;
	}
	
}
@media (min-width: 1440px) {

	
	.background-jackie {	
		background-size: 28%;
		right: 15%;
	}

}
@media (min-width: 1600px) {

	
	.background-jackie {	
		background-size: 25%;
	}

}

@media (min-width: 1920px) {

	
	.background-jackie {	
		background-size: 22%;
		right: 24%;
	}

}






.twofreecans-landing-v2-wrapper .cs-header-wrapper {	
	background: url(/media/2freecans-v2-bg-header-top.png) no-repeat center bottom;	
	background-size: 100% 100%;
}

.twofreecans-landing-v2-wrapper .cs-header-wrapper p {	
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0;
	padding: 6px 0;
}

.twofreecans-landing-v2-wrapper .intro-header-wrapper {	
	background: url(/media/2freecans-v2-bg-header-red.jpg) no-repeat center bottom;	
	background-size: 100% 100%;
	color: white;
}


.twofreecans-landing-v2-wrapper .intro-header-wrapper h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 4em;
	font-weight: normal;
	text-transform: uppercase;
}

.twofreecans-landing-v2-wrapper .intro-header-wrapper h1 span {
	font-size: 130%;
}

.twofreecans-landing-v2-wrapper .intro-header-wrapper ul {
	font-size: 110%;
	font-weight: bolder;
	margin: 20px 0;
}


.big-red-text {
	color: red;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

.twofreecans-landing-v2-wrapper p {
	font-size: 1.2em;
	margin: 0 0 15px;
}


.twofreecans-landing-v2-wrapper img.feature-image {
	width: 220px;
	float: left;
	margin: 0 20px 0 0;
}

.twofreecans-landing-v2-wrapper .btn-default {
	background: #730409;
	border-radius: 6px;
	display: block;
	font-size: 3em;
	font-weight: normal;
	margin: 15px 0 25px;
	padding: 10px 0 5px;
	width: 95%;
}
.twofreecans-landing-v2-wrapper .btn-default:active,
.twofreecans-landing-v2-wrapper .btn-default:focus {
	color: white;
}


.twofreecans-landing-v2-wrapper .secure-shopping-wrapper {
	background: #f1f1f1;	
}

.twofreecans-landing-v2-wrapper .secure-shopping-container {
	margin: 10px 0;
}
.twofreecans-landing-v2-wrapper .secure-shopping-wrapper p {		
	color: black;
	font-family: 'Fjalla One', sans-serif;
	font-size: 90%;
	font-weight: normal;
	margin: 0 0 3px 0;
}
.twofreecans-landing-v2-wrapper .secure-shopping-wrapper .image-wrapper {	
	width: 10%;
	display: inline-block;
	margin: 0 10px;
}
.twofreecans-landing-v2-wrapper .secure-shopping-wrapper .image-wrapper:last-child {	
	width: 12%;
}




.twofreecans-landing-v2-wrapper .testimonials-wrapper {
	color: black;
	margin-top: 30px;
}

.twofreecans-landing-v2-wrapper .testimonials-wrapper p {
	font-size: 2.3em;
	font-weight: 300;
	color: black;
	line-height: 1.1;
}
.twofreecans-landing-v2-wrapper .testimonials-wrapper h3 {
	font-weight: 500;
	font-size: 2.4em;
	margin-top: 40px;
}
.twofreecans-landing-v2-wrapper .testimonials-wrapper .glyphicon {
	color: #959595!important;
	font-size: 2.4em;	
	margin: 8px 0 12px 0;
}

/* icon quote background */
.twofreecans-landing-v2-wrapper .testimonials-wrapper span.icon-open-quote {
	display: inline-block;
	float: left;
	margin: 8px 6px 0 0;
	background: url(/media/icon-open-quote-black.png) top left no-repeat;
	background-size: 46px auto;
	width: 46px;
	height: 30px;
}






@media (min-width: 992px) and (max-width: 1199px) {

	
}


@media (min-width: 768px) and (max-width: 991px) {	

	.background-jackie {	
		display:none;
	}
	
}

@media (max-width: 768px) {	
	
}


@media (max-width: 767px) {

	.twofreecans-landing-v2-wrapper .intro-header-wrapper h1 {
		font-size: 3em;
	}

	.twofreecans-landing-v2-wrapper .intro-header-wrapper ul {
		margin: 0 0 15px;
	}
	.twofreecans-landing-v2-wrapper .btn-default {
		margin: 14px 0 16px;
	}
	.twofreecans-landing-v2-wrapper .testimonials-wrapper h3 {
		margin-top: 0;
	}
	.twofreecans-landing-v2-wrapper .testimonials-wrapper p {
		margin-bottom: 30px;
	}

}